/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */

// Style dla pliku z przykładem HTML fragmentu

@import './partials/utils/reset';
@import './partials/utils/vars';
@import './partials/utils/mixins';
@import './partials/header';
@import './partials/products';
@import './partials/about';
@import './partials/gallery';
@import './partials/customer-reviews';

@import './partials/components/backdrop';
@import './partials/components/modal-buy';
@import './partials/utils/is-hidden';
