@charset "UTF-8";
/**
 * Minified by jsDelivr using clean-css v4.2.3.
 * Original file: /npm/modern-normalize@1.1.0/modern-normalize.css
 *
 * Do NOT use SRI with dynamically generated files! More information: https://www.jsdelivr.com/using-sri-with-dynamic-files
 */
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*, ::after, ::before {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, pre, samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}


body {
  font-family: "DM Sans", sans-serif;
  color: #000;
}

.container {
  margin: 0 auto;
  min-width: 320px;
  max-width: 480px;
  padding-inline: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    max-width: 768px;
    padding-inline: 34px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-inline: 115px;
  }
}

.link {
  text-decoration: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  min-width: 176px;
  height: 44px;
  padding: 0;
  background-color: #fff;
  border: none;
  border-radius: 22px;
  cursor: pointer;
}
.btn:is(:hover, :focus):not(.btn--small, .btn--large) {
  background-color: #ecebeb;
}
.btn--small {
  background-color: #d41443;
  min-width: 61.2px;
  height: 24px;
  border-radius: 20px;
}
@media screen and (min-width: 1280px) {
  .btn--small {
    min-width: 104px;
    height: 40px;
  }
}
.btn--small:is(:hover, :focus) {
  background-color: #c7133e;
}
.btn--small-secondary {
  min-width: 82.8px;
  height: 24px;
  border-radius: 20px;
}
@media screen and (min-width: 1280px) {
  .btn--small-secondary {
    min-width: 138px;
    height: 40px;
  }
}
.btn--medium {
  display: none;
  gap: 12px;
}
@media screen and (min-width: 768px) {
  .btn--medium {
    display: flex;
    min-width: 160px;
  }
}
.btn--medium-secondary {
  min-width: 209px;
  gap: 15px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .btn--medium-secondary {
    min-width: 186px;
    gap: 14px;
  }
}
.btn--large {
  min-width: 161px;
  gap: 8px;
  background-color: #d41443;
}
@media screen and (min-width: 768px) {
  .btn--large {
    gap: 13px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .btn--large {
    min-width: 191px;
  }
}
@media screen and (min-width: 1280px) {
  .btn--large {
    min-width: 198px;
  }
}
.btn--large:is(:hover, :focus) {
  background-color: #c7133e;
}
.btn--large-secondary {
  min-width: 161px;
  background-color: #fff;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .btn--large-secondary {
    min-width: 174px;
  }
}
@media screen and (min-width: 1280px) {
  .btn--large-secondary {
    min-width: 180px;
  }
}
.btn__text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.286;
}
@media screen and (min-width: 768px) {
  .btn__text:not(.btn__text--small, .btn__text--large) {
    font-size: 16px;
    line-height: 1.5;
  }
}
.btn__text--small {
  font-size: 8px;
  font-weight: 400;
  line-height: 1.25;
}
@media screen and (min-width: 1280px) {
  .btn__text--small {
    font-size: 14px;
    line-height: 1.286;
  }
}
.btn__text--large {
  font-size: 16px;
  line-height: 1.313;
}
.btn__text--light {
  color: #fff;
}
.btn__text--red {
  color: #d41443;
}
.btn__icon {
  width: 4px;
  height: 8px;
  fill: transparent;
  stroke: #d41443;
}
.btn__icon--light {
  stroke: #fff;
}

.products {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  max-width: 280px;
  margin: auto;
  margin-top: 122px;
}
@media (min-width: 768px) {
  .products {
    max-width: none;
    padding: 0 34px;
  }
}
.products__label {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  font-family: "Titan One";
  margin-bottom: 15px;
}
.products__title {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 144px;
}
@media (min-width: 768px) {
  .products__title {
    margin-bottom: 150px;
  }
}
@media (min-width: 1200px) {
  .products__title {
    margin-bottom: 259px;
  }
}
.products__types {
  display: flex;
  flex-wrap: wrap;
  row-gap: 129px;
}
@media (min-width: 768px) {
  .products__types {
    -moz-column-gap: 20px;
         column-gap: 20px;
    justify-content: center;
  }
}
.products .products-item {
  color: #ffffff;
  height: 485px;
  border-radius: 24px;
  text-align: center;
  align-items: center;
  padding: 0 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.products .products-item:last-child {
  margin-bottom: 98px;
}
@media (min-width: 768px) {
  .products .products-item {
    margin-bottom: 112px;
    width: 220px;
  }
}
@media (min-width: 1200px) {
  .products .products-item {
    margin-bottom: 119px;
    width: 329px;
    height: 525px;
  }
}
.products .products-item__description {
  font-family: "DM Sans";
  font-size: 14px;
  font-weight: 700;
  font-style: bold;
  width: 200px;
  line-height: 21px;
  line-height: 152%;
  vertical-align: top;
}
@media (min-width: 768px) {
  .products .products-item {
    width: 198px;
    line-height: 25px;
    line-height: 176%;
  }
}
@media (min-width: 1200px) {
  .products .products-item {
    width: 241px;
    font-size: 16px;
    line-height: 28px;
    line-height: 176%;
  }
}
.products .products-item__button {
  position: absolute;
  background-image: url("/src/images/products/arrow-right.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  width: 40px;
  height: 40px;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%);
}
.products .products-item__ice {
  background-color: #ffb8ca;
  position: relative;
  width: 280px;
}
@media (min-width: 768px) {
  .products .products-item__ice {
    width: 220px;
  }
}
@media (min-width: 1200px) {
  .products .products-item__ice {
    width: 329px;
  }
}
.products .products-item__ice::before {
  content: "";
  background-image: url("/src/images/products/icecream-mb@1.png");
  width: 249px;
  height: 252px;
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  bottom: 350px;
  left: 50%;
  transform: translate(-50%);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products .products-item__ice::before {
    background-image: url("/src/images/products/icecream-mb@2.png");
    background-size: 249px, 252px;
  }
}
@media (min-width: 768px) {
  .products .products-item__ice::before {
    background-image: url("/src/images/products/icecream-tb@1.png");
    width: 220px;
    height: 226px;
    bottom: 365px;
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .products .products-item__ice::before {
    background-image: url("/src/images/products/icecream-tb@2.png");
    background-size: 220px, 226px;
  }
}
@media (min-width: 1200px) {
  .products .products-item__ice::before {
    bottom: 390px;
    background-image: url("/src/images/products/icecream-dt@1.png");
    width: 335px;
    height: 335px;
    bottom: 395px;
  }
}
@media (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 192dpi), (min-width: 1200px) and (min-resolution: 2dppx) {
  .products .products-item__ice::before {
    background-image: url("/src/images/products/icecream-dt@2.png");
    background-size: 335px, 335px;
  }
}
.products .products-item__coffee {
  background-color: #f0d1a5;
  position: relative;
  width: 280px;
}
@media (min-width: 768px) {
  .products .products-item__coffee {
    width: 220px;
  }
}
@media (min-width: 1200px) {
  .products .products-item__coffee {
    width: 329px;
  }
}
.products .products-item__coffee::before {
  content: "";
  background-image: url("/src/images/products/icecoffe-mb@1.png");
  width: 249px;
  height: 252px;
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  bottom: 350px;
  left: 50%;
  transform: translate(-50%);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products .products-item__coffee::before {
    background-image: url("/src/images/products/icecoffe-mb@2.png");
    background-size: 249px, 252px;
  }
}
@media (min-width: 768px) {
  .products .products-item__coffee::before {
    background-image: url("/src/images/products/icecoffe-tb@1.png");
    width: 220px;
    height: 233px;
    bottom: 365px;
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .products .products-item__coffee::before {
    background-image: url("/src/images/products/icecoffe-tb@2.png");
    background-size: 220px, 233px;
  }
}
@media (min-width: 1200px) {
  .products .products-item__coffee::before {
    bottom: 390px;
    background-image: url("/src/images/products/icecoffe-dt@1.png");
    width: 337px;
    height: 335px;
    bottom: 395px;
  }
}
@media (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 192dpi), (min-width: 1200px) and (min-resolution: 2dppx) {
  .products .products-item__coffee::before {
    background-image: url("/src/images/products/icecoffe-dt@2.png");
    background-size: 337px, 335px;
  }
}
.products .products-item__milkshakers {
  background-color: #c2e297;
  position: relative;
  width: 280px;
}
@media (min-width: 768px) {
  .products .products-item__milkshakers {
    width: 220px;
  }
}
@media (min-width: 1200px) {
  .products .products-item__milkshakers {
    width: 329px;
  }
}
.products .products-item__milkshakers::before {
  content: "";
  background-image: url("/src/images/products/milkshake-mb@1.png");
  width: 249px;
  height: 252px;
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  bottom: 350px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products .products-item__milkshakers::before {
    background-image: url("/src/images/products/milkshake-mb@2.png");
    background-size: 249px, 252px;
  }
}
@media (min-width: 768px) {
  .products .products-item__milkshakers::before {
    background-image: url("/src/images/products/milkshake-tb@1.png");
    width: 220px;
    height: 224px;
    bottom: 365px;
    left: 50%;
    transform: translate(-50%);
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .products .products-item__milkshakers::before {
    background-image: url("/src/images/products/milkshake-tb@2.png");
    background-size: 220px, 224px;
  }
}
@media (min-width: 1200px) {
  .products .products-item__milkshakers::before {
    bottom: 390px;
    background-image: url("/src/images/products/milkshake-dt@1.png");
    width: 335px;
    height: 335px;
    bottom: 395px;
  }
}
@media (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 192dpi), (min-width: 1200px) and (min-resolution: 2dppx) {
  .products .products-item__milkshakers::before {
    background-image: url("/src/images/products/milkshake-dt@2.png");
    background-size: 335px, 335px;
  }
}
.products .products-item__title {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 20px;
  line-height: 22.9px;
  margin-top: 161px;
  text-transform: uppercase;
}
.products .products-item__title::after {
  content: "...";
  font-size: 24px;
  color: #ffffff;
  display: block;
  letter-spacing: 4px;
  margin-top: 14px;
}

.about {
  background-color: #fff5f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 39px;
  background-image: url(/src/images/about/milk-mobile@1x.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 100%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .about .about {
    background-image: url(/src/images/about/milk-mobile@2x.png);
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .about {
    background-image: none;
  }
  .about__box {
    background-image: none;
    display: flex;
  }
}
@media (min-width: 1280px) {
  .about {
    background-image: url(/src/images/about/milk-desktop@1x.png);
  }
  .about__box {
    display: flex;
  }
}
@media (min-width: 1280px) and (min-device-pixel-ratio: 2), (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 192dpi), (min-width: 1280px) and (min-resolution: 2dppx) {
  .about .about {
    background-image: url(/src/images/about/milk-desktop@2x.png);
  }
}
.about__img {
  width: 280px;
  height: 280px;
}
@media (min-width: 1280px) {
  .about__img {
    width: 516px;
    height: 516px;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .about__img {
    width: 340px;
    height: 340px;
  }
}
.about__head {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  padding: 70px 60px 26px;
}
.about__head-motto {
  color: #ffa5ba;
  font-size: 18px;
  line-height: 1.1666666667;
}
.about__head-title {
  color: #d41443;
  font-size: 34px;
  line-height: 1.1470588235;
  letter-spacing: 0.04em;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .about .about {
    background-image: none;
  }
  .about .about__box {
    background-image: none;
    display: flex;
  }
}
@media (min-width: 1280px) {
  .about .about {
    background-image: url(/src/images/about/milk-desktop@1x.png);
  }
  .about .about__box {
    display: flex;
  }
}
@media (min-width: 1280px) and (min-device-pixel-ratio: 2), (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 192dpi), (min-width: 1280px) and (min-resolution: 2dppx) {
  .about .about {
    background-image: url(/src/images/about/milk-desktop@2x.png);
  }
}
.about__description {
  font-size: 12px;
  line-height: 162%;
  font-weight: 500;
  text-align: left;
  padding: auto 50px auto;
  max-width: 463px;
}
.about__description-main {
  padding: 46px;
  color: #000;
}
.about__content-additional {
  padding: 0px 46px;
  color: #907e82;
}
.about__container {
  margin-left: 46px;
  margin-top: 17px;
}

.advantages {
  background-color: #fff5f6;
  padding-bottom: 97px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .advantages {
    padding-bottom: 136px;
  }
}
@media screen and (min-width: 1280px) {
  .advantages {
    padding-bottom: 139px;
  }
}
.advantages__headline {
  display: none;
}
.advantages__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
  padding: 66px 70px 0 0;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .advantages__list {
    display: flex;
    padding: 86px 0 0;
  }
}
@media screen and (min-width: 1280px) {
  .advantages__list {
    padding: 90px 0 0;
  }
}
.advantages__item {
  position: relative;
  max-width: 230px;
}
.advantages__item:not(:last-child) {
  margin-bottom: 26px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .advantages__item {
    flex-basis: calc((100% - 60px) / 3);
    max-width: 180px;
  }
  .advantages__item:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .advantages__item {
    flex-basis: calc((100% - 60px) / 3);
    max-width: 330px;
  }
}
.advantages__item--icon1::before {
  content: " ";
  position: absolute;
  height: 50px;
  width: 33px;
  top: -40px;
  background-image: url(/src/images/advantages/advantages-icon1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.advantages__item--icon2::before {
  content: " ";
  position: absolute;
  height: 50px;
  width: 50px;
  top: -40px;
  background-image: url(/src/images/advantages/advantages-icon2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.advantages__item--icon3::before {
  content: " ";
  position: absolute;
  height: 50px;
  width: 44px;
  top: -40px;
  background-image: url(/src/images/advantages/advantages-icon3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.advantages__title {
  font-family: "Titan One", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.04em;
  text-align: left;
  color: #d41443;
  margin-bottom: 13px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .advantages__title {
    font-size: 48px;
    text-transform: none;
  }
}
@media screen and (min-width: 1280px) {
  .advantages__title {
    font-size: 58px;
    text-transform: none;
  }
}
.advantages__description {
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0;
  text-align: left;
  color: #000;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .advantages__description {
    font-size: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .advantages__description {
    font-size: 16px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  max-width: 480px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    max-width: 768px;
    padding-inline: 34px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-inline: 115px;
  }
}

.gallery {
  background: linear-gradient(to bottom, #fff5f6 40%, #ffffff 40%);
}

.gallery__title {
  display: none;
}

.gallery__picture {
  display: flex;
  width: 100%;
  height: 122px;
  background-image: url("../images/gallery/home-pic5_320_122.png"), linear-gradient(to bottom, #fff5f6 40%, #ffffff 40%);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .gallery__picture {
    background-image: url("../images/gallery/home-pic5_640_244.png"), linear-gradient(to bottom, #fff5f6 40%, #ffffff 40%);
  }
}
@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 2.7916666666666665), (min-resolution: 268dpi), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 3dppx) {
  .gallery__picture {
    background-image: url("../images/gallery/home-pic5_960_366.png"), linear-gradient(to bottom, #fff5f6 40%, #ffffff 40%);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .gallery__picture {
    max-width: 320px;
    height: 122px;
    background-image: url("../images/gallery/home-pic5_320_122.png"), linear-gradient(to bottom, #fff5f6 40%, #ffffff 40%);
  }
}
@media (min-width: 320px) and (max-width: 767px) and (min-device-pixel-ratio: 2), (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi), (min-width: 320px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .gallery__picture {
    background-image: url("../images/gallery/home-pic5_640_244.png"), linear-gradient(to bottom, #fff5f6 40%, #ffffff 40%);
  }
}
@media (min-width: 320px) and (max-width: 767px) and (min-device-pixel-ratio: 3), (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2.7916666666666665), (min-width: 320px) and (max-width: 767px) and (min-resolution: 268dpi), (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 3), (min-width: 320px) and (max-width: 767px) and (min-resolution: 3dppx) {
  .gallery__picture {
    background-image: url("../images/gallery/home-pic5_960_366.png"), linear-gradient(to bottom, #fff5f6 40%, #ffffff 40%);
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .gallery__picture {
    max-width: 768px;
    height: 264px;
    background-image: url("../images/gallery/home-pic5_768_264.png"), linear-gradient(to bottom, #fff5f6 40%, #ffffff 40%);
  }
}
@media (min-width: 768px) and (max-width: 1279px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (max-width: 1279px) and (min-resolution: 192dpi), (min-width: 768px) and (max-width: 1279px) and (min-resolution: 2dppx) {
  .gallery__picture {
    background-image: url("../images/gallery/home-pic5_1536_528.png"), linear-gradient(to bottom, #fff5f6 40%, #ffffff 40%);
  }
}
@media (min-width: 768px) and (max-width: 1279px) and (min-device-pixel-ratio: 3), (min-width: 768px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2.7916666666666665), (min-width: 768px) and (max-width: 1279px) and (min-resolution: 268dpi), (min-width: 768px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 3), (min-width: 768px) and (max-width: 1279px) and (min-resolution: 3dppx) {
  .gallery__picture {
    background-image: url("../images/gallery/home-pic5_2304_792.png"), linear-gradient(to bottom, #fff5f6 40%, #ffffff 40%);
  }
}
@media (min-width: 1280px) {
  .gallery__picture {
    max-width: 1280px;
    height: 430px;
    background-image: url("../images/gallery/home-pic5_1280_430.png"), linear-gradient(to bottom, #fff5f6 40%, #ffffff 40%);
  }
}
@media (min-width: 1280px) and (min-device-pixel-ratio: 2), (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 192dpi), (min-width: 1280px) and (min-resolution: 2dppx) {
  .gallery__picture {
    background-image: url("../images/gallery/home-pic5_2560_860.png"), linear-gradient(to bottom, #fff5f6 40%, #ffffff 40%);
  }
}
@media (min-width: 1280px) and (min-device-pixel-ratio: 3), (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2.7916666666666665), (min-width: 1280px) and (min-resolution: 268dpi), (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 3), (min-width: 1280px) and (min-resolution: 3dppx) {
  .gallery__picture {
    background-image: url("../images/gallery/home-pic5_3840_1290.png"), linear-gradient(to bottom, #fff5f6 40%, #ffffff 40%);
  }
}
.customer-reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  gap: 30px;
}
.customer-reviews__box {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 280px;
  height: 308px;
  background-color: #fafafa;
  position: relative;
}
.customer-reviews__box::after {
  content: "...";
  font-size: 48px;
  color: #d31342;
  display: block;
  letter-spacing: 4px;
  margin-top: 54px;
}
.customer-reviews__box::before {
  content: "";
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='54' height='40' fill='none'%3E%3Cpath fill='%23E1E1E1' d='M40.018 0c2.41 0 4.687.65 6.83 1.951 2.143 1.301 3.884 3.171 5.223 5.61C53.357 10 54 12.873 54 16.179s-.804 6.531-2.41 9.675c-.536 1.138-1.5 2.601-2.894 4.39-1.446 1.788-2.785 3.333-4.017 4.634L39.616 40 36 33.984a27.548 27.548 0 0 0 6.67-5.854c1.928-2.276 2.892-4.363 2.892-6.26 0-.976-.214-1.762-.642-2.358-1.875 1.355-3.965 2.033-6.268 2.033-1.66 0-3.241-.515-4.741-1.545a10.708 10.708 0 0 1-3.697-3.902c-.964-1.572-1.446-3.198-1.446-4.878 0-1.898.562-3.713 1.687-5.448a12.784 12.784 0 0 1 4.26-4.227C36.428.515 38.195 0 40.017 0ZM11.17 0c2.41 0 4.687.65 6.83 1.951 2.143 1.301 3.884 3.17 5.223 5.61 1.286 2.439 1.929 5.312 1.929 8.618 0 2.33-.295 4.417-.884 6.26-.59 1.897-1.607 3.875-3.054 5.935-1.393 1.951-2.705 3.577-3.937 4.878-1.232 1.355-3.375 3.604-6.429 6.748l-3.616-6.016a27.551 27.551 0 0 0 6.67-5.854c1.928-2.276 2.893-4.363 2.893-6.26 0-.976-.215-1.762-.643-2.358-1.875 1.355-3.965 2.033-6.268 2.033-1.66 0-3.241-.515-4.741-1.545a10.708 10.708 0 0 1-3.697-3.902C.482 14.526 0 12.9 0 11.22c0-1.898.536-3.713 1.607-5.448a12.784 12.784 0 0 1 4.26-4.227C7.58.515 9.347 0 11.17 0Z'/%3E%3C/svg%3E");
  width: 54px;
  height: 40px;
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  top: 32px;
  left: 50px;
}
.customer-reviews__declare {
  padding-top: 43px;
  padding-bottom: 26px;
  margin: 0;
  width: 157px;
  height: 239px;
  font-size: 12px;
  line-height: 2.5;
  font-weight: 500;
  text-align: center;
  z-index: 1;
  -webkit-text-decoration: underline 1px solid #e1e1e1;
          text-decoration: underline 1px solid #e1e1e1;
  text-underline-offset: 8px;
}
.customer-reviews__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  margin-bottom: 0;
}
.customer-reviews__list {
  display: flex;
  gap: 18px;
}
.customer-reviews__btn {
  width: 12px;
  height: 12px;
  border: 0px;
  border-radius: 6px;
}

svg {
  fill: #d31342;
}

@media screen and (min-width: 768px) {
  .customer-reviews__box {
    width: 620px;
    height: 164;
  }
  .customer-reviews__declare {
    width: 460px;
    height: 83px;
    font-size: 14px;
    line-height: 2.16;
    letter-spacing: 0.5px;
  }
  .customer-reviews__name {
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .customer-reviews__box {
    width: 926px;
    height: 138px;
  }
  .customer-reviews__declare {
    width: 750px;
    height: 52px;
    letter-spacing: 1.5px;
    font-size: 16px;
    line-height: 1.86;
  }
  .customer-reviews__name {
    font-size: 20px;
  }
}
.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFF5F6;
  margin: 170px auto 0px;
}
.contacts h3, .contacts p, .contacts a {
  font-size: 12px;
  font-weight: 500;
}
.contacts__container {
  margin-top: -84px;
  min-width: 320px;
  max-width: 480px;
  padding: 0px 50px;
  width: 100%;
}
.contacts__title {
  display: none;
}
.contacts__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-left: 0px;
  margin: 0px;
}
.contacts__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 43px 20px;
  background-color: #FFFFFF;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  width: 100%;
}
.contacts__category {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  border-radius: 4px;
  height: 16px;
  margin-top: 0px;
  margin-bottom: 25px;
  background-color: #F0D1A5;
  width: 80px;
}
.contacts__category--larger {
  background-color: #C2E297;
  width: 130px;
}
.contacts__place {
  margin-bottom: 25px;
}
.contacts__city {
  display: flex;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 10px;
  color: #000000;
}
.contacts__description {
  margin: 0px;
  color: #907E82;
}
.contacts__opened {
  padding: 25px 0px;
  border-top: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
  margin-bottom: 25px;
}
.contacts__day {
  margin: 0px 0px 5px 0px;
  color: #000000;
}
.contacts__time {
  color: #FFA5BA;
  margin-bottom: 10px;
  margin-top: 0px;
}
.contacts__tel {
  display: flex;
  list-style: none;
  color: #907E82;
  text-decoration: none;
  margin-right: 50px;
}
.contacts__mail {
  display: flex;
  list-style: none;
  color: #907E82;
  text-decoration: none;
}
.contacts__buttons-box {
  margin-top: 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 0px 30px;
  margin-bottom: 0px;
}
.contacts__button {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-bottom: 10px;
  border-radius: 22px;
  width: 100%;
  height: 44px;
  border: none;
  font-weight: 700;
  text-align: center;
  font-size: 16px;
  background-color: #D41342;
  color: #FFFFFF;
}
.contacts__button:hover, .contacts__button:focus {
  background-color: #C7133E;
}
.contacts__button--accent {
  background-color: #FFFFFF;
  color: #D41443;
  margin-bottom: 0px;
}
.contacts__button--accent:hover, .contacts__button--accent:focus {
  background-color: #ECEBEB;
}

@media (min-width: 768px) {
  .contacts h3, .contacts p, .contacts a {
    font-size: 14px;
  }
  .contacts__item {
    padding: 50px 31px;
    width: 220px;
  }
  .contacts__list {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: calc((100% - 40px) / 3);
  }
  .contacts__container {
    width: 768px;
    min-width: none;
    max-width: none;
    padding: 0px 34px;
  }
  .contacts__buttons-box {
    margin-top: 81px;
    gap: 15px;
    flex-direction: row;
  }
  .contacts__button {
    padding: 0px 30px;
    margin-bottom: 0px;
    border-radius: 22px;
  }
  .contacts__category {
    font-size: 16px;
    border-radius: 6px;
    height: 28px;
    margin-bottom: 30px;
    width: 73px;
  }
  .contacts__category--larger {
    width: 138px;
  }
  .contacts__place {
    margin-bottom: 30px;
  }
  .contacts__city {
    margin-bottom: 14px;
  }
  .contacts__opened {
    padding: 30px 0px;
    margin-bottom: 30px;
  }
  .contacts__time {
    margin-bottom: 16px;
  }
  .contacts__tel {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}
@media (min-width: 1280px) {
  .contacts {
    background-image: url("../images/contacts/dots@1x.png");
    background-repeat: no-repeat;
  }
  .contacts h3, .contacts p, .contacts a {
    font-size: 16px;
  }
  .contacts__container {
    padding: 0px 115px;
    width: 1280px;
  }
  .contacts__list {
    gap: 30px;
    flex-basis: calc((100% - 60px) / 3);
  }
  .contacts__item {
    padding: 51px 43px 62px;
    width: 330px;
  }
  .contacts__category {
    margin-bottom: 32px;
  }
  .contacts__place {
    margin-bottom: 32px;
  }
  .contacts__city {
    margin-bottom: 10px;
  }
  .contacts__description {
    margin: 0px;
    color: #907E82;
  }
  .contacts__opened {
    padding: 32px 0px;
    margin-bottom: 32px;
  }
  .contacts__day {
    margin: 0px 0px 5px 0px;
    color: #000000;
  }
  .contacts__time {
    margin-bottom: 15px;
  }
  .contacts__tel {
    margin-bottom: 12px;
  }
  .contacts__buttons-box {
    margin-top: 86px;
  }
}
@media (min-width: 1280px) and (min-device-pixel-ratio: 2), (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 192dpi), (min-width: 1280px) and (min-resolution: 2dppx) {
  .contacts {
    background-image: url("../images/contacts/dots@2x.png");
  }
}
@media (min-width: 1280px) and (min-device-pixel-ratio: 3), (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 3), (min-width: 1280px) and (min-resolution: 288dpi), (min-width: 1280px) and (min-resolution: 3dppx) {
  .contacts {
    background-image: url("../images/contacts/dots@3x.png");
  }
}
.menu-modal {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vw;
  max-width: 250px;
  background-color: #e17992;
  font-family: "DM Sans";
}
.menu-modal.is-open {
  visibility: visible;
}
.menu-modal__x-btn-container {
  display: flex;
  flex-direction: row-reverse;
}
.menu-modal__x-btn {
  display: flex;
  color: inherit;
  border: none;
  background: none;
  display: flex;
  margin: 23px 28px;
  padding: 0;
}
.menu-modal__x-icon {
  width: 15.5px;
  height: 15.5px;
}
.menu-modal__buy-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-modal__buy-btn {
  color: #d41443;
  background-color: white;
  border: none;
  display: flex;
  border-radius: 60px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  font-family: "DM Sans";
  height: 44px;
  padding-left: 48.5px;
  padding-right: 48.5px;
  margin-left: 20px;
  margin-right: 20px;
}
.menu-modal__buy-now {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 91px;
  height: 100%;
}
.menu-modal__buy-icon {
  margin-left: 15.5px;
}
.menu-modal__nav {
  margin-top: 19px;
}
.menu-modal__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu-modal__nav-element {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: white;
  border-bottom: 1px solid #e18298;
}
.menu-modal__nav-list:first-child {
  border-top: 1px solid #e18298;
}
.menu-modal__nav-link {
  margin-left: 21px;
  margin-top: 12px;
  margin-bottom: 12px;
  text-decoration: none;
  color: white;
}
.menu-modal__nav-link:hover, .menu-modal__nav-link:focus {
  color: #d41443;
}
.menu-modal__nav-element:hover .menu-modal__nav-link {
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .menu-modal {
    max-width: 254px;
  }
  .menu-modal__x-btn {
    margin: 23px 34px;
  }
  .menu-modal__buy-btn {
    padding-left: 43.5px;
    padding-right: 43.5px;
    margin-left: 34px;
    margin-right: 34px;
  }
  .menu-modal__buy-now {
    width: 81px;
    height: 100%;
  }
  .menu-modal__nav-link {
    margin-left: 24px;
  }
}
.order-backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(225, 121, 146, 0.3137254902);
  transition: opacity 500ms ease-in;
}

.order-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  background-color: #E17992;
  border-radius: 4px;
  padding: 15px;
  transition: opacity 800ms ease-out 500ms, transform 1200ms ease-out 100ms;
}
.order-modal__icon {
  fill: #ffb8ca;
  display: block;
}
.order-modal__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.order-modal__form-headline {
  margin: 0px 0px 10px;
  font-size: 20px;
  font-weight: 500;
}
.order-modal__close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
}
.order-modal__product-type {
  display: flex;
  justify-content: space-around;
  padding: 15px 0px;
  background-color: #FFB8CA;
  border: none;
  border-radius: 30px;
}
.order-modal__product-type-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.order-modal__product-type-input:checked + .order-modal__product-type-img {
  opacity: 100%;
  transform: scale(150%);
}
.order-modal__product-type-img {
  cursor: pointer;
  opacity: 30%;
  transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 50ms, transform 1s cubic-bezier(0.075, 0.82, 0.165, 1) 50ms;
}
.order-modal__product-type-img:hover {
  opacity: 80%;
}
.order-modal__input {
  border: none;
  border-radius: 3px;
  padding: 5px;
  background-color: #FFB8CA;
  border: 1px solid #FFB8CA;
  transition: border 1s cubic-bezier(0.075, 0.82, 0.165, 1) 50ms, box-shadow 1s cubic-bezier(0.075, 0.82, 0.165, 1) 50ms;
}
.order-modal__input:focus, .order-modal__input:hover {
  border: 1px solid #D41443;
  outline: none;
  box-shadow: inset 11px 9px 35px -15px #D41443;
}
.order-modal__customer-details-input, .order-modal__textarea {
  border: none;
  border-radius: 3px;
  padding: 5px;
  width: 100%;
  resize: none;
  background-color: #FFB8CA;
  border: 1px solid #FFB8CA;
  transition: border 1s cubic-bezier(0.075, 0.82, 0.165, 1) 50ms, box-shadow 1s cubic-bezier(0.075, 0.82, 0.165, 1) 50ms;
}
.order-modal__customer-details-input:focus, .order-modal__customer-details-input:hover, .order-modal__textarea:focus, .order-modal__textarea:hover {
  border: 1px solid #D41443;
  outline: none;
  box-shadow: inset 11px 9px 35px -15px #D41443;
}
.order-modal__product-amount-label, .order-modal__flavour-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-modal__product-amount-label > .order-modal__input, .order-modal__flavour-label > .order-modal__input {
  width: 200px;
}
.order-modal__terms {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0px 20px;
}
.order-modal__link {
  text-decoration: none;
  color: #D41443;
}

.is-hidden {
  visibility: hidden;
  opacity: 0%;
  pointer-events: none;
}
.is-hidden .order-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -200%);
  opacity: 0%;
  transition: opacity 800ms ease-out 200ms, transform 1200ms ease-out 100ms;
}
.is-hidden.order-backdrop {
  transition: visibility 100ms linear 1300ms, opacity 800ms ease-out 500ms;
}

@media (min-width: 768px) {
  .order-modal {
    width: 450px;
  }
  .order-modal__product-type-img {
    width: 70px;
  }
}
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 *//*# sourceMappingURL=main.css.map */