/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */

// Style dla pliku z przykładem HTML fragmentu
@import './utils/variables';
@import './utils/mixin';
@import './utils/global';
@import './utils/typography';
@import './utils/button';
@import './products';
