@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
*,
p,
h1,
h2,
h3,
h4,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

:root {
  --accent-color: #d41443;
  --main-text-color: #000000;
  --secondary-text-color: #907e82;
  --third-text-color: #ffffff;
  --main-bg-color: #ffb8ca;
  --secondary-bg-color: #fff5f6;
  --third-bg-color: #e17992;
  --bcg-hover-button-red: #c7133e;
  --bcg-hover-button-secondary: #ecebeb;
  --transition-standard: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --main-font-family: "DM Sans", sans-serif;
  --accent-font: "Titan One", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.button {
  font-family: var(--main-font-family);
  font-size: 16px;
  line-height: 1.3;
  font-weight: 700;
  background-color: var(--secondary-bg-color);
  border: none;
  border-radius: 22px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 86px;
  justify-content: center;
}
.button--article-red {
  font-weight: 400;
  width: 198px;
  height: 44px;
  padding-left: 35px;
  padding-right: 54px;
  background-color: var(--accent-color);
  color: var(--third-text-color);
  margin: 0;
  margin-right: 15px;
}
.button--article-red-padding-contacts {
  font-weight: 400;
  width: 161.45px;
  height: 44px;
  padding-left: 17px;
  padding-right: 17.84px;
  background-color: var(--accent-color);
  color: var(--third-text-color);
  margin: 0;
  transition: var(--transition-standard);
}
@media screen and (min-width: 768px) {
  .button--article-red-padding-contacts {
    padding-left: 28px;
    padding-right: 36.77px;
    width: 191.45px;
  }
}
@media screen and (min-width: 1199px) {
  .button--article-red-padding-contacts {
    padding-left: 35px;
    padding-right: 36.5px;
    width: 198px;
  }
}
.button--article-red-padding-contacts:hover {
  background-color: #ad0e2b;
}
.button--article-white-padding-contacts {
  font-weight: 400;
  width: 161px;
  height: 44px;
  padding-left: 32px;
  padding-right: 31.3px;
  color: var(--accent-color);
  background-color: var(--third-text-color);
  margin: 0;
  transition: var(--transition-standard);
}
@media screen and (min-width: 768px) {
  .button--article-white-padding-contacts {
    padding-left: 37.71px;
    padding-right: 38.63px;
    width: 174.05px;
  }
}
@media screen and (min-width: 1199px) {
  .button--article-white-padding-contacts {
    padding-left: 39px;
    padding-right: 39px;
    width: 198px;
  }
}
.button--article-white-padding-contacts:hover {
  background-color: var(--bcg-hover-button-secondary);
}
.button--article-white {
  font-weight: 400;
  width: 180px;
  height: 44px;
  padding-left: 39px;
  padding-right: 58px;
  color: var(--accent-color);
  background-color: var(--third-text-color);
  margin: 0;
}
.button--article-white:hover {
  background-color: var(--bcg-hover-button-secondary);
  transition: background-color var(--transition-standard);
}
.button--red {
  font-weight: 700;
  width: 198px;
  height: 44px;
  padding-left: 35px;
  padding-right: 54px;
  background-color: var(--accent-color);
  color: var(--third-text-color);
  margin: 0;
  margin-right: 15px;
}
.button--white {
  font-weight: 700;
  width: 180px;
  height: 44px;
  padding-left: 39px;
  padding-right: 58px;
  color: var(--accent-color);
  background-color: var(--third-text-color);
  margin: 0;
}
.button--white:hover {
  background-color: var(--bcg-hover-button-secondary);
  transition: background-color var(--transition-standard);
}

header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  z-index: 999;
  background-color: var(--main-bg-color);
}
@media screen and (min-width: 768px) {
  header {
    height: 80px;
  }
}

.mobile-container {
  position: absolute;
  top: 25px;
  right: 20px;
  max-width: 1280p;
}
@media screen and (min-width: 768px) {
  .mobile-container {
    top: 30px;
    right: 224px;
  }
}
.mobile-container__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 1199px) {
  .mobile-container__button {
    display: none;
    max-width: 1280px;
  }
}
.mobile-container__icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 1199px) {
  .page-header {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    gap: 110px;
    max-width: 1280px;
  }
}
.page-header__button {
  font-weight: 700;
  background-color: var(--third-text-color);
  border-radius: 22px;
  border: none;
  width: 160px;
  height: 44px;
  padding: 12px 47px;
  font-family: var(--main-font-family);
  color: var(--accent-color);
  font-size: 16px;
  line-height: 1.3;
  font-weight: 700;
  border: none;
  cursor: pointer;
  display: none;
}
@media screen and (min-width: 768px) {
  .page-header__button {
    display: flex;
    position: absolute;
    top: 15px;
    right: 34px;
  }
}
@media screen and (min-width: 1199px) {
  .page-header__button {
    position: relative;
    top: 0px;
  }
}

.logo {
  font-family: var(--accent-font);
  font-size: 36px;
  color: var(--accent-color);
  text-decoration: none;
  position: absolute;
  top: 6px;
  left: 20px;
}
@media screen and (min-width: 768px) {
  .logo {
    top: 15px;
    left: 34px;
  }
}
@media screen and (min-width: 1199px) {
  .logo {
    position: relative;
    top: 0px;
  }
}

.navigation {
  font-family: var(--main-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  display: none;
}
@media screen and (min-width: 1199px) {
  .navigation {
    display: flex;
    gap: 35px;
  }
}
.navigation__item {
  color: var(--third-text-color);
}
.navigation__item:hover, .navigation__item:focus {
  color: var(--accent-color);
}

.hero-container {
  background-color: var(--main-bg-color);
  width: 100%;
}

.hero {
  position: relative;
  margin: 0 auto;
  height: 502px;
  background-image: url(../images/hero-header/ellipse-mobile-1x.png);
  background-position: bottom 75px right 0;
  background-color: var(--main-bg-color);
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .hero {
    margin-top: 50px;
    height: 399px;
    background-image: url(../images/hero-header/girl_tablet@1x.png), url(../images/hero-header/milk_tablet@1x.png), url(../images/hero-header/ellipse-tablet-1x.png);
    background-size: 168px, 124px, 324px;
    background-position: bottom 0 right 4.4270833333%, bottom 28px left 4.4270833333%, bottom 46px right 32.1614583333%;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero-header/girl_tablet@2x.png), url(../images/hero-header/milk_tablet@2x.png), url(../images/hero-header/ellipse-tablet-2x.png);
  }
}
@media screen and (min-width: 1199px) {
  .hero {
    margin-top: 60px;
    height: 665px;
    max-width: 1280px;
    background-image: url(../images/hero-header/girl_desktop@1x.png), url(../images/hero-header/milk_desktop@1x.png), url(../images/hero-header/ellipse-desktop-1x.png);
    background-size: 293px, 188px, 538px;
    background-position: bottom 0 right 8.515625%, bottom 45px left 6.015625%, bottom 75px right 35.15625%;
  }
}
@media screen and (min-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero-header/girl_desktop@2x.png), url(../images/hero-header/milk_desktop@2x.png), url(../images/hero-header/ellipse-desktop-1x.png);
  }
}
.hero__pic {
  position: absolute;
  bottom: 0;
  right: 4.6875%;
  width: 171px;
  animation: rotate 2000ms;
}
@media screen and (min-width: 768px) {
  .hero__pic {
    position: absolute;
    bottom: 0;
    right: 32.1614583333%;
    width: 143px;
  }
}
@media screen and (min-width: 1199px) {
  .hero__pic {
    position: absolute;
    bottom: 0;
    right: 35.15625%;
    width: 236px;
  }
}

.hero-title {
  position: absolute;
  top: 193px;
  left: 20px;
  font-family: var(--accent-font);
  font-size: 26px;
  line-height: 1.145;
  color: var(--third-text-color);
}
@media screen and (min-width: 768px) {
  .hero-title {
    top: 102px;
    left: 34px;
    font-size: 22px;
    line-height: 1.145;
  }
}
@media screen and (min-width: 1199px) {
  .hero-title {
    top: 171px;
    left: 115px;
    font-size: 38px;
    line-height: 0.905;
  }
}
.hero-title--accent {
  color: var(--accent-color);
  font-size: 58px;
  font-size: 48px;
  line-height: 0.96;
}
@media screen and (min-width: 768px) {
  .hero-title--accent {
    font-size: 34px;
    line-height: 0.905;
  }
}
@media screen and (min-width: 1199px) {
  .hero-title--accent {
    font-size: 58px;
    line-height: 0.905;
  }
}
.hero-title__buttons {
  display: flex;
  gap: 8px;
  position: absolute;
  top: 318px;
  left: 20px;
}
@media screen and (min-width: 768px) {
  .hero-title__buttons {
    top: 202px;
    left: 34px;
  }
}
@media screen and (min-width: 1199px) {
  .hero-title__buttons {
    top: 323px;
    left: 115px;
    gap: 15px;
  }
}
.hero-title__button {
  height: 24px;
  padding: 0 15px;
  font-family: var(--main-font-family);
  font-size: 8px;
  line-height: 1.3025;
  font-weight: 400;
  background-color: var(--third-text-color);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1199px) {
  .hero-title__button {
    font-size: 14px;
    height: 40px;
  }
}
.hero-title__button--first {
  background-color: var(--accent-color);
  color: var(--third-text-color);
}
.hero-title__button--second {
  color: var(--accent-color);
}

.hero-bioeco {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero-bioeco {
    display: block;
    position: absolute;
    top: 292px;
    left: 154px;
    width: 114px;
    height: 48px;
  }
  .hero-bioeco__text {
    font-family: var(--main-font-family);
    color: var(--third-text-color);
    font-size: 8px;
    line-height: 1.5;
  }
  .hero-bioeco__button {
    margin-top: 7px;
    width: 18px;
    height: 18px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: var(--third-text-color);
  }
}
@media screen and (min-width: 768px) and (min-width: 1199px) {
  .hero-bioeco__button {
    margin-top: 20px;
    width: 26px;
    height: 26px;
  }
}
@media screen and (min-width: 768px) {
  .hero-bioeco__icon {
    border-radius: 50px;
  }
}
@media screen and (min-width: 1199px) {
  .hero-bioeco {
    top: 485px;
    left: 295px;
    width: 200px;
    height: 78px;
  }
  .hero-bioeco__text {
    font-size: 14px;
    line-height: 1.4;
  }
}

.hero-numbers {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero-numbers {
    display: block;
  }
  .hero-numbers__text {
    text-align: right;
    position: absolute;
    font-family: var(--main-font-family);
    color: var(--third-text-color);
    font-size: 8px;
    line-height: 1.3025;
    z-index: 1;
  }
  .hero-numbers__text--accent {
    font-family: var(--accent-font);
    color: var(--accent-color);
    font-size: 28px;
    line-height: 1.145;
  }
  .hero-numbers__text::before {
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50px;
    background-color: white;
    position: absolute;
    right: -7px;
    top: -3px;
    z-index: -1;
  }
  .hero-numbers__text--cafes {
    top: 96px;
    right: 44px;
  }
  .hero-numbers__text--food-trucks {
    top: 152px;
    right: 42px;
  }
}
@media screen and (min-width: 1199px) {
  .hero-numbers__text {
    font-size: 14px;
    line-height: 1.302;
  }
  .hero-numbers__text--accent {
    font-size: 46px;
    line-height: 1.145;
  }
  .hero-numbers__text::before {
    width: 30px;
    height: 30px;
    right: -20px;
    top: -5px;
  }
  .hero-numbers__text--cafes {
    top: 160px;
    right: 115px;
  }
  .hero-numbers__text--food-trucks {
    top: 251px;
    right: 115px;
  }
  .hero-numbers__text--food-trucks::after {
    font-size: 14px;
    line-height: 1.302;
  }
}

.ani {
  animation-name: ani;
  animation-duration: 1.5s;
}

@keyframes ani {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }
  60% {
    opacity: 1;
    transform: translateX(0);
    letter-spacing: 0.3em;
  }
  100% {
    transform: translateX(0);
    letter-spacing: 0em;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.fade-hero {
  animation-name: fade-hero;
  animation-duration: 1.5s;
}

@keyframes fade-hero {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.products {
  margin-left: 114px;
}

.title_paragraph {
  text-align: center;
  padding-top: 127px;
  font-family: var(--accent-font);
  font-weight: 400;
  color: #ffa5ba;
  font-size: 30px;
  line-height: 34.35px;
}

.section_header {
  text-align: center;
  margin-top: 17px;
  font-family: var(--accent-font);
  font-weight: 400;
  color: #d41143;
  font-size: 58px;
  line-height: 66.41px;
}

.all {
  margin-left: 117px;
}

.icecream_picture {
  display: block;
}

.coffee_picture {
  display: block;
}

.shakes_picture {
  display: block;
}

.about {
  padding-top: 130px;
  padding-bottom: 50px;
  background-color: var(--secondary-bg-color);
  background-image: url(/src/images/about/milk-wave_mobile@1x.png);
  background-repeat: no-repeat;
  background-position: right 0 bottom 50px;
  background-size: contain;
}
@media screen and (min-width: 480px) {
  .about {
    background-image: url(/src/images/about/milk-wave_mobile@1x.png);
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-width: 480px) and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-width: 480px) and (min-resolution: 2dppx) and (min-width: 320px) {
  .about {
    background-image: url(/src/images/about/milk-wave_mobile@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .about {
    padding-bottom: 75px;
    background-image: none;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    padding-top: 125px;
    padding-bottom: 50px;
    background-position: center bottom 0;
    background-image: url(/src/images/about/milk-wave_desktop@1x.png);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2) and (min-width: 1280px), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px), screen and (min-width: 1280px) and (min-resolution: 192dpi) and (min-width: 1280px), screen and (min-width: 1280px) and (min-resolution: 2dppx) and (min-width: 1280px) {
  .about {
    background-image: url(/src/images/about/milk_wave_desktop@2x.png);
  }
}
.about__top {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .about__top {
    width: 100%;
  }
}
.about__pre-title {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--fourth-text-color);
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .about__pre-title {
    font-size: 26px;
    line-height: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .about__pre-title {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.04em;
  }
}
.about__title {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .about__title {
    font-size: 48px;
    line-height: 55px;
  }
}
@media screen and (min-width: 1280px) {
  .about__title {
    font-size: 58px;
    line-height: 66px;
    letter-spacing: 0.06em;
  }
}
.about__beggining {
  font-weight: 500;
  font-size: 12px;
  line-height: 19.44px;
  color: var(---main-text-color);
  margin-bottom: 35px;
  margin-right: auto;
  margin-left: auto;
  width: 220px;
}
@media screen and (min-width: 768px) {
  .about__beggining {
    font-size: 14px;
    line-height: 24.64px;
    margin-bottom: 32px;
    width: 340px;
  }
}
@media screen and (min-width: 1280px) {
  .about__beggining {
    font-size: 16px;
    line-height: 28.16px;
    letter-spacing: 0.04em;
    width: 463px;
  }
}
.about__middle {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: var(--secondary-text-color);
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 220px;
}
@media screen and (min-width: 768px) {
  .about__middle {
    font-size: 14px;
    line-height: 24.64px;
    letter-spacing: 0.04em;
    width: 340px;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 1280px) {
  .about__middle {
    font-size: 14px;
    line-height: 27.16px;
    letter-spacing: 0.04em;
    width: 463px;
    margin-bottom: 40px;
  }
}
.about__ending {
  margin-bottom: 17px;
}
@media screen and (min-width: 768px) {
  .about__ending {
    margin-bottom: 62px;
  }
}
@media screen and (min-width: 1280px) {
  .about__ending {
    margin-bottom: 45px;
  }
}

.about__button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  min-width: 176px;
  height: 44px;
  border: 0px;
  border-radius: 22px;
  background-color: var(--third-text-color);
  color: var(--accent-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 18.23px;
  transition: background-color 250ms linear;
}
@media screen and (min-width: 768px) {
  .about__button {
    font-size: 16px;
    line-height: 20.83px;
  }
}
.about__button:hover, .about__button:focus {
  background-color: var(--bcg-hover-button-secondary);
  cursor: pointer;
}

.about__icon {
  width: 4.43px;
  height: 8px;
  fill: var(--accent-color);
}

.gallery {
  width: 320px;
  height: 136px;
  position: relative;
  margin: auto;
  cursor: pointer;
}
.gallery__image {
  transition-duration: 1000ms;
  z-index: 0;
}
.gallery__image:hover {
  transform: scale(1.5);
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .gallery {
    width: 768px;
    height: 327px;
  }
}
@media screen and (min-width: 1199px) {
  .gallery {
    width: 1013px;
    height: 430px;
  }
}

.container-gallery {
  margin: auto;
  background: linear-gradient(to bottom, #fff5f6 50%, #fff 50%);
}
@media screen and (min-width: 768px) {
  .container-gallery {
    background: linear-gradient(to bottom, #fff5f6 38%, #fff 38%);
  }
}
@media screen and (min-width: 1199px) {
  .container-gallery {
    background: linear-gradient(to bottom, #fff5f6 38%, #fff 38%);
  }
}

.img-1 {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 46;
  left: 0;
}
@media screen and (min-width: 768px) {
  .img-1 {
    width: 105px;
    height: 105px;
    top: 111px;
    left: 0%;
  }
}
@media screen and (min-width: 1199px) {
  .img-1 {
    width: 138px;
    height: 138px;
    top: 143;
    left: 0;
  }
}
.img-2 {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 23;
  left: 46;
}
@media screen and (min-width: 768px) {
  .img-2 {
    width: 105px;
    height: 105px;
    top: 54;
    left: 111;
  }
}
@media screen and (min-width: 1199px) {
  .img-2 {
    width: 138px;
    height: 138px;
    top: 88;
    left: 146;
  }
}
.img-3 {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 67;
  left: 46;
}
@media screen and (min-width: 768px) {
  .img-3 {
    width: 105px;
    height: 105px;
    top: 164;
    left: 111;
  }
}
@media screen and (min-width: 1199px) {
  .img-3 {
    width: 138px;
    height: 138px;
    top: 233;
    left: 146;
  }
}
.img-4 {
  width: 89px;
  height: 90px;
  position: absolute;
  top: 0;
  left: 92;
}
@media screen and (min-width: 768px) {
  .img-4 {
    width: 214px;
    height: 214px;
    top: 0;
    left: 216;
  }
}
@media screen and (min-width: 1199px) {
  .img-4 {
    width: 283px;
    height: 283px;
    top: 0;
    left: 292;
  }
}
.img-5 {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 92;
  left: 92;
}
@media screen and (min-width: 768px) {
  .img-5 {
    width: 105px;
    height: 105px;
    top: 218;
    left: 216;
  }
}
@media screen and (min-width: 1199px) {
  .img-5 {
    width: 138px;
    height: 138px;
    top: 291;
    left: 292;
  }
}
.img-6 {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 23;
  left: 183;
}
@media screen and (min-width: 768px) {
  .img-6 {
    width: 105px;
    height: 105px;
    top: 54;
    left: 434;
  }
}
@media screen and (min-width: 1199px) {
  .img-6 {
    width: 138px;
    height: 138px;
    top: 98;
    left: 583;
  }
}
.img-7 {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 67;
  left: 183;
}
@media screen and (min-width: 768px) {
  .img-7 {
    width: 105px;
    height: 105px;
    top: 164;
    left: 434;
  }
}
@media screen and (min-width: 1199px) {
  .img-7 {
    width: 138px;
    height: 138px;
    top: 245;
    left: 582;
  }
}
.img-8 {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 15;
  left: 229;
}
@media screen and (min-width: 768px) {
  .img-8 {
    width: 105px;
    height: 105px;
    top: 40;
    left: 545;
  }
}
@media screen and (min-width: 1199px) {
  .img-8 {
    width: 138px;
    height: 138px;
    top: 66;
    left: 729;
  }
}
.img-9 {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 61;
  left: 229;
}
@media screen and (min-width: 768px) {
  .img-9 {
    width: 105px;
    height: 105px;
    top: 145;
    left: 545;
  }
}
@media screen and (min-width: 1199px) {
  .img-9 {
    width: 138px;
    height: 138px;
    top: 212;
    left: 729;
  }
}
.img-10 {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 46;
  left: 275;
}
@media screen and (min-width: 768px) {
  .img-10 {
    width: 105px;
    height: 105px;
    top: 111;
    left: 660;
  }
}
@media screen and (min-width: 1199px) {
  .img-10 {
    width: 138px;
    height: 138px;
    top: 155;
    left: 875;
  }
}

.reviews {
  padding-bottom: 86px;
}
@media screen and (min-width: 768px) {
  .reviews {
    padding-bottom: 119px;
  }
}
@media screen and (min-width: 1199px) {
  .reviews {
    padding-bottom: 132px;
  }
}
.reviews__photo {
  margin: 80px auto 29px;
  width: 100%;
  max-width: 85px;
}
@media screen and (min-width: 768px) {
  .reviews__photo {
    margin: 121px auto 19px;
  }
}
@media screen and (min-width: 1199px) {
  .reviews__photo {
    margin: 123px auto 15px;
  }
}
.reviews__article {
  display: flex;
  align-items: center;
  margin-bottom: 52px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fafafa;
  padding-top: 43px;
  padding-bottom: 26px;
  width: 280px;
}
@media screen and (min-width: 768px) {
  .reviews__article {
    margin-bottom: 42px;
    padding-top: 47px;
    padding-bottom: 34px;
    width: 620px;
  }
}
@media screen and (min-width: 1199px) {
  .reviews__article {
    margin-bottom: 34px;
    padding-bottom: 39px;
    width: 926px;
  }
}
.reviews__wrapper {
  position: relative;
  background-image: repeating-linear-gradient(#fafafa 29px, #e1e1e1 0px, #fafafa 30px, #fafafa 59px);
  max-width: 180px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .reviews__wrapper {
    max-width: 524px;
  }
}
@media screen and (min-width: 1199px) {
  .reviews__wrapper {
    max-width: 813px;
    background-image: repeating-linear-gradient(#fafafa 29px, #e1e1e1 0px, #fafafa 30px, #fafafa 59px);
  }
}
.reviews__text {
  font-family: var(--main-font-family);
  color: var(--main-text-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 2.55;
  max-width: 157px;
  text-align: center;
  position: relative;
  z-index: 1;
  margin: auto;
}
.reviews__text::before {
  width: 54px;
  height: 40px;
  content: " ";
  background: url(/src/images/customer-reviews/untitled.png) no-repeat;
  position: absolute;
  z-index: -1;
  top: -15px;
  left: 5px;
}
@media screen and (min-width: 768px) {
  .reviews__text::before {
    left: -40px;
  }
}
@media screen and (min-width: 1199px) {
  .reviews__text::before {
    left: -37px;
  }
}
@media screen and (min-width: 768px) {
  .reviews__text {
    font-size: 14px;
    line-height: 2.16;
    letter-spacing: 0.04em;
    max-width: 460px;
  }
}
@media screen and (min-width: 1199px) {
  .reviews__text {
    font-size: 16px;
    line-height: 1.86;
    max-width: 750px;
  }
}
.reviews__name {
  font-family: var(--main-font-family);
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 1.86;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.reviews__name::before {
  content: ". . .";
  font-size: 25px;
  color: var(--bcg-hover-button-red);
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}
@media screen and (min-width: 768px) {
  .reviews__name::before {
    top: -45px;
  }
}
@media screen and (min-width: 768px) {
  .reviews__name {
    font-size: 16px;
    margin-bottom: 35px;
  }
}
@media screen and (min-width: 1199px) {
  .reviews__name {
    font-size: 20px;
  }
}
.reviews__pagination {
  display: flex;
  justify-content: center;
}
.reviews__pagination:last-child {
  margin-right: 0px;
}
.reviews__pagination--item {
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  border-radius: 50%;
  margin-right: 18px;
}

.mySlides {
  display: none;
}

.slideshow-container {
  max-width: 968px;
  position: relative;
  margin: auto;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.hover {
  background-color: transparent;
  background-image: url(../images/customer-reviews/home.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 14px;
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateX(-800px);
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
    transform: translateX(250);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.contacts {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 12px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff5f6;
}
@media screen and (min-width: 1199px) {
  .contacts {
    font-size: 16px;
    background-image: url("../images/contacts/bg-contacts-1x.png");
    z-index: 3;
    position: relative;
    top: 100px;
  }
}
.contacts__case {
  height: 85px;
  background: var(--third-text-color);
  width: 100%;
}
@media screen and (min-width: 768px) {
  .contacts__case {
    height: 78px;
  }
}
@media screen and (min-width: 1199px) {
  .contacts__case {
    height: 102px;
  }
}
.contacts__container {
  display: flex;
  justify-content: center;
}
.contacts__list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  position: relative;
  top: -85px;
}
@media screen and (min-width: 768px) {
  .contacts__list {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    top: -78px;
  }
}
@media screen and (min-width: 1199px) {
  .contacts__list {
    flex-direction: row;
    gap: 29px;
    top: -102px;
  }
}
.contacts__item {
  width: 220px;
  background: var(--third-text-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 44px 21px 42px 20px;
}
@media screen and (min-width: 1199px) {
  .contacts__item {
    width: 330px;
    padding: 51px 44px 62px 43px;
  }
}
.contacts__city {
  border-bottom: 1px solid #e1e1e1;
}
.contacts__type {
  width: 80px;
  height: 16px;
  background: #f0d1a5;
  border-radius: 4px;
  display: flex;
  align-items: center;
  line-height: 1.86;
  justify-content: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--third-text-color);
}
.contacts__type--green {
  width: 130px;
  background: #c2e297;
}
.contacts__text, .contacts__schedule {
  color: var(--main-text-color);
  line-height: 1.86;
  padding-top: 25px;
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .contacts__text, .contacts__schedule {
    padding-top: 30px;
    padding-bottom: 14px;
  }
}
@media screen and (min-width: 1199px) {
  .contacts__text, .contacts__schedule {
    padding-top: 32px;
    padding-bottom: 10px;
  }
}
.contacts__schedule {
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
}
@media screen and (min-width: 768px) {
  .contacts__schedule {
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1199px) {
  .contacts__schedule {
    padding-bottom: 32px;
  }
}
.contacts__description {
  padding-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .contacts__description {
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1199px) {
  .contacts__description {
    padding-bottom: 32px;
    line-height: 1.83;
  }
}
.contacts__description {
  color: var(--secondary-text-color);
  text-decoration: none;
  line-height: 1.5;
}
.contacts__contact-us {
  padding-top: 25px;
}
@media screen and (min-width: 768px) {
  .contacts__contact-us {
    padding-top: 30px;
  }
}
@media screen and (min-width: 1199px) {
  .contacts__contact-us {
    padding-top: 32px;
  }
}
.contacts__contact-links {
  color: var(--secondary-text-color);
  transition: var(--transition-standard);
  text-decoration: none;
  line-height: 1.5;
}
.contacts__contact-links:is(:hover, :focus) {
  color: #a2415b;
}
.contacts__time {
  color: #ffa5ba;
  line-height: 1.86;
}
.contacts__buttons {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: auto;
  margin-top: -31px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
}
@media screen and (min-width: 768px) {
  .contacts__buttons {
    margin-top: 3px;
    flex-direction: row;
  }
}
@media screen and (min-width: 1199px) {
  .contacts__buttons {
    margin-top: -20px;
    flex-direction: row;
  }
}

.footer {
  background-color: var(--secondary-bg-color);
}
.footer__container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 165px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 91px;
    width: 700px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media screen and (min-width: 1199px) {
  .footer__container {
    width: 1040px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.footer-heading {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer-heading {
    width: 380px;
  }
}
@media screen and (min-width: 1199px) {
  .footer-heading {
    width: 500px;
  }
}
.footer-heading__primary {
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 17px;
  width: 232px;
  color: #ffa5ba;
}
@media screen and (min-width: 768px) {
  .footer-heading__primary {
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.04em;
    display: inline-block;
    width: 100%;
  }
}
.footer-heading__secondary {
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  width: 200px;
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .footer-heading__secondary {
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1199px) {
  .footer-heading__secondary {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .footer-socials {
    display: flex;
    flex-direction: column;
  }
}
.footer-socials__list {
  display: flex;
  margin-top: 43px;
  justify-content: flex-end;
  gap: 29px;
  margin-bottom: 46px;
}
@media screen and (min-width: 768px) {
  .footer-socials__list {
    margin-top: 0;
    margin-bottom: 40px;
  }
}
.footer-socials__icon {
  background-color: #fea5bb;
  fill: var(--third-text-color);
  width: 34px;
  height: 34px;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.footer-socials__icon:hover {
  background-color: var(--accent-color);
  outline: none;
}

.footer-socials__item:is(:focus-within) {
  outline: none;
}

.footer-socials__item:is(:focus-within) .footer-socials__icon {
  background-color: var(--accent-color);
  outline: none;
}

.footer-socials__item:is(:focus-within) .footer-socials__icon {
  background-color: var(--accent-color);
}

.footer-contact {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 43px;
}
.footer-contact__text, .footer-contact__tel {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  color: black;
}
@media screen and (min-width: 768px) {
  .footer-contact__text, .footer-contact__tel {
    font-size: 14px;
  }
}
@media screen and (min-width: 1199px) {
  .footer-contact__text, .footer-contact__tel {
    font-size: 16px;
  }
}
.footer-contact__tel {
  color: #d41443;
  text-decoration: none;
}

.footer-copyright {
  border-top: 1px solid #e1e1e1;
  padding-top: 22px;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
}
.footer-copyright__text {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  color: #907e82;
  width: 149px;
}
@media screen and (min-width: 768px) {
  .footer-copyright__text {
    width: 100%;
  }
}

/* ----------------- PRIMARY - FOR SMARTPHONE --------------- */
.modal-menu {
  position: fixed;
  top: 56px;
  right: 20px;
  width: 250px;
  height: 502px;
  border: none;
  border-radius: 4px;
  background-color: var(--third-bg-color);
  box-shadow: 18px 18px 16px -14px rgb(66, 68, 90);
  transform: translateY(0); /* transformation */
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-menu__btn {
  position: absolute;
  top: 23px;
  right: 28px;
  width: 14px;
  height: 14px;
  border: none;
  background-color: var(--third-bg-color);
  color: var(--third-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-menu__btn:hover, .modal-menu__btn:focus {
  color: var(--accent-color);
  cursor: pointer;
}
.modal-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-top: 123px;
}
.modal-menu__item {
  padding-left: 21px;
  padding-top: 13px;
  padding-bottom: 11px;
  border-top: 1px solid #E18298;
}
.modal-menu__item:last-child {
  border-bottom: 1px solid #E18298;
}
.modal-menu__link {
  text-decoration: none;
  font-family: var(--font-main-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.126;
  color: var(--third-text-color);
}
.modal-menu__link:hover, .modal-menu__link:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.button--padding {
  position: absolute;
  top: 60px;
  left: 40px;
}

/* --------------------- FOR TABLET -----------------------*/
@media screen and (min-width: 768px) {
  .modal-menu {
    width: 254px;
    height: 1020px;
    top: 64px;
    right: 224px;
  }
}
/* ----------------------- DESKTOP -------------------------*/
@media screen and (min-width: 1199px) {
  .modal-menu {
    display: none;
  }
}
/* *********************************************************** */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  transform: translateY(0); /* transformation */
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* -----------------PRIMARY - FOR SMARTPHONE -------------------*/
.modal-buy {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 502px;
  padding: 0px 20px;
  transform: translate(-50%, -50%);
  background-color: var(--third-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-buy__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 60px;
}
.modal-buy__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 40px;
}
.modal-buy__item:first-child {
  border-bottom: 1px solid var(--third-text-color);
}
.modal-buy__btn-close {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 20px;
  right: 20px;
  width: 14px;
  height: 14px;
  background-color: var(--third-bg-color);
  border: none;
  color: var(--third-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-buy__btn-close:hover, .modal-buy__btn-close:focus {
  color: var(--accent-color);
  cursor: pointer;
}
.modal-buy__head {
  font-family: var(--font-main-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.313;
  color: var(--third-text-color);
}
.modal-buy__btn {
  padding: 15px 37px;
  font-family: var(--font-main-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.313;
  border: none;
  background-color: var(--third-text-color);
  color: var(--accent-color);
  transition-property: border-color, color;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-buy__btn:hover, .modal-buy__btn:focus {
  background-color: var(--accent-color);
  color: var(--third-text-color);
  cursor: pointer;
}
.modal-buy__btn--padding {
  padding: 3px 37px;
}

.modal-buy-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal-buy-form__name {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.166;
  letter-spacing: 0.01em;
}
.modal-buy-form__field {
  margin: 0 auto;
  padding: 10px 100px 10px 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.modal-buy-form__field:hover, .modal-buy-form__field:focus {
  border-color: var(--accent-color);
}
.modal-buy-form__text {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--third-text-color);
}
.modal-buy-form__list {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  gap: 4px;
}

.modal-buy-form__link {
  text-decoration: none;
  color: var(--third-text-color);
  font-size: 10px;
  transition-property: color;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-buy-form__link:hover, .modal-buy-form__link:focus {
  cursor: pointer;
  color: var(--accent-color);
}

/* --------------------- FOR TABLET -----------------------*/
@media screen and (min-width: 768px) {
  .modal-buy {
    top: 60%;
    width: 450px;
    height: 550px;
  }
  .modal-buy-form__field {
    padding: 10px 200px 10px 10px;
  }
}
.is-hidden {
  visibility: hidden;
  opacity: 1;
  pointer-events: auto;
  transform: translateY(-100%); /* transformation */
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-arrow {
  transition: --transition-standard;
  fill: none;
  margin-left: 8px;
}
.icon-arrow--red {
  stroke: var(--bcg-hover-button-red);
  margin-left: 5px;
}
.icon-arrow--white {
  stroke: var(--third-text-color);
}/*# sourceMappingURL=main.css.map */