/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */

// Style dla pliku z przykładem HTML fragmentu [pliki z components są w pliku _index.scss w folderze components]
@use "./components/modern-normalize.min";
@use "./base";
@use "./components";
