//Family fonts
$fontPrimary: 'DM Sans', sans-serif;
$fontSecondary: 'Titan One', cursive;

//Colors
$accentColor: #d41443;
$background-color-lighter: #ffffff;
$background-color-darker: #fff5f6;
$background-color-header: #FFB8CA;