//Colors variables
$active-color: #D41443;
$background-color-darker: #FFF5F6;
$background-color-header: #FFB8CA;
$background-color-lighter: #E5E5E5;
$paragraph-color: #FFA5BA;
$text-color-bold: #000;
$text-color-darker: #907E82;
$text-color-ligther: #FFF;

//Family fonts
$fontPrimary: 'DM Sans', sans-serif;
$fontSecondary: 'Titan One', cursive;
