//Colors variables
$accent-color: #d41342;
$active-color: #d41443;
$background-color-darker: #fff5f6;
$background-color-header: #ffb8ca;
$background-color-lighter: #fff;
$paragraph-color: #ffa5ba;
$text-color-bold: #000;
$text-color-darker: #907e82;
$text-color-lighter: #fff;
$button-active: #ecebeb;
$background-color-review: #fafafa;
$background-color-white: #ffffff;
$background-color-review-btn: #d9d9d9;
$background-color-mobile-nav: #e17992;
$border-color-mobile-nav: #e18298;
$review-linear-gradient: #e1e1e1;
$icon-color: #fea5bb;

//Family fonts
$fontPrimary: 'DM Sans', sans-serif;
$fontSecondary: 'Titan One', cursive;
