.is-hidden{
    visibility: hidden;
    opacity: 1;
    pointer-events: auto;

    transform: translateY(-100%);       /* transformation */
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}