$color1: #000000;
$color2: #d41443;
$color3: #ffffff;
$color4: #ffa5ba;
$color5: #e17992;
$color6: #f0d1a5;
$color7: #c2e297;
$color8: #fff5f6;
$color9: #fafafa;
$color10: #ffb8ca;
$color11: #907e82;
$color12: #e1e1e1;
$primaryFont: 'Dm Sans', sans serif;
$secondaryFont: 'Titan One', sans serif;
