<section class="about">
  <div>
    <div class="about__title">
      <h2 class="about__title-one">tradition and love</h2>
      <h1 class="about__title-two">how it's made?</h1>
    </div>
    <div class="about__image">
      <article class="about__content">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/about/cow-desktop.png    1x,
              ./images/about/cow-desktop@2x.png 2x,
              ./images/about/cow-desktop@3x.png 3x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/about/cow-tablet.png    1x,
              ./images/about/cow-tablet@2x.png 2x,
              ./images/about/cow-tablet@3x.png 3x
            "
          />
          <img
            srcset="
              ./images/about/cow-mobile.png    1x,
              ./images/about/cow-mobile@2x.png 2x,
              ./images/about/cow-mobile@3x.png 3x
            "
            alt="cow and milk"
          />
        </picture>
      </article>
      <article class="about__text">
        <p class="text-first">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="text-second">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>

        <p class="text-third">Aliquam erat volutpat. Aenean accumsan.</p>
        <button type="button" class="about__button">
          Read more
          <svg class="button__item" width="7" height="10">
            <use href="/src/images/icons.svg#icon-vector"></use>
          </svg>
        </button>
      </article>
    </div>
  </div>
</section>
