<section class="banner">
    <div class="banner__milk-grid">
      <img
        srcset="images/milk-desktop.png 188w, ./images/milk-tablet.png 124w"
        sizes="(min-width: 768px) 188px, (max-width: 768px) 124px"
        src="images/milk-desktop.png"
        alt="milk"
      />
      <div class="banner__description-box">
        <p class="banner__milk-grid-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et
        </p>
        <img
          srcset="images/arrow-right-desktop.png 26w, images/arrow-right-tablet.png 18w"
          sizes="(min-width: 768px) 26px, (min-width: 18px) 18px"
          min-width="26"
          src="images/arrow-right-desktop.png"
          alt="arrow"
        />
      </div>
    </div>
    <div>
      <svg class="banner__ice-Cream-Bg">
        <use href="images/icons-banner.svg#icon-Ellipse-desktop"></use>
      </svg>
      <img
        class="banner__ice-Cream-image"
        srcset="
          images/ice-cream-desktop.png 236w,
          images/ice-cream-tablet.png  143w,
          images/ice-cream-phone.png   171w
        "
        sizes="(min-width: 768px) 236px, (max-width: 768px) 143px, (min-width: 210px) 171px"
        src="images/ice-cream-desktop.png"
        alt="ice cream"
      />
    </div>
    <div class="banner__header-box">
      <h2 class="banner__header">ice cream made with <span class="banner__passion">passion</span></h2>
      <div class="banner__buttons">
        <button class="banner__button-products">Products</button>
        <button class="banner__button-how">How it’s made?</button>
      </div>
    </div>
    <div>
      <div class="banner__restaurants banner__restaurants--cafes">
        <svg class="banner__restaurants-svg banner__restaurants-svg--cafes">
          <use href="images/icons-banner.svg#icon-Ellipse-desktop"></use>
        </svg>
        <div>
          <p class="banner__restaurants-ammount banner__restaurants-ammount--cafes">16</p>
          <p class="banner__restaurants-description banner__restaurants-description--cafes">cafes</p>
        </div>
      </div>
      <div class="banner__restaurants banner__restaurants--food-trucks">
        <svg class="banner__restaurants-svg banner__restaurants-svg--food-trucks">
          <use href="images/icons-banner.svg#icon-Ellipse-desktop"></use>
        </svg>
        <p class="banner__restaurants-ammount banner__restaurants-ammount--food-trucks">23</p>
        <p class="banner__restaurants-description banner__restaurants-description--food-trucks">
          food trucks
        </p>
      </div>
    </div>
    <img
      class="banner__tasty"
      srcset="images/tasty-desktop.png 293w, images/tasty-tablet.png 168w"
      sizes="(min-width: 768px) 293px, (max-width: 768px) 168px"
      src="images/tasty-desktop.png"
      alt="girl with ice cream"
    />
  </section>