<section class="container banner">
  <div class="banner__milk-grid">
    <img
      srcset="
        ./images/header/hero-bioeco-desk-x1.png x2,
        ./images/header/hero-bioeco-tab-x1.png  x1
      "
      src="./images/header/hero-bioeco-tab-x1.png"
      alt="milk"
    />
    <div class="banner__description-box">
      <p class="banner__milk-grid-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <img
        srcset="
          ./images/header/banner/arrow-right-desktop.png x2,
          ./images/header/banner/arrow-right-tablet.png  x1
        "
        src="./images/header/banner/arrow-right-tablet.png"
        alt="arrow"
      />
    </div>
  </div>
  <div>
    <img
      class="banner__ice-Cream-Bg"
      srcset="./images/header/banner/hero-ellipse-desk-x2.png x3,
      ./images/header/banner/hero-ellipse-tab-x2.png x2,
      ./images/header/banner/hero-ellipse-mob-x1.png x1"
      alt="pink cirlce"
      src="./images/header/banner/hero-ellipse-tab-x1.png"
    />
    <img
      class="banner__ice-Cream-image"
      srcset="
      ./images/header/banner/hero-corn-desk-x1.png x3,
      ./images/header/banner/hero-corn-tab-x1.png  x2,
      ./images/header/banner/hero-corn-mob-x1.png  x1
      "

      src="./images/header/banner/hero-corn-tab-x1.png"

      alt="ice cream"
    />
  </div>
  <div class="banner__header-box">
    <h2 class="banner__header">ice cream made with <span class="banner__passion">passion</span></h2>
    <div class="banner__buttons">
      <button class="banner__button-products">Products</button>
      <button class="banner__button-how">How it’s made?</button>
    </div>
  </div>
  <div>
    <div class="banner__restaurants banner__restaurants--cafes">
      <img
        class="banner__restaurants-svg banner__restaurants-svg--cafes"
        srcset="./images/header/banner/restaurants-desk-c.png x2,
        ./images/header/banner/restaurants-tab-c.png 1x"
        alt="white circle"
        src="./images/header/banner/restaurants-tab-c.png"
      />
      <div>
        <p class="banner__restaurants-ammount banner__restaurants-ammount--cafes">16</p>
        <p class="banner__restaurants-description banner__restaurants-description--cafes">cafes</p>
      </div>
    </div>
    <div class="banner__restaurants banner__restaurants--food-trucks">
      <img
        class="banner__restaurants-svg banner__restaurants-svg--food-trucks"
        srcset="./images/header/banner/restaurants-desk-ft.png x2,
        ./images/header/banner/restaurants-tab-ft.png 1x"
        alt=" small white circle"
        src="./images/header/banner/restaurants-tab-ft.png"
      />
      <p class="banner__restaurants-ammount banner__restaurants-ammount--food-trucks">23</p>
      <p class="banner__restaurants-description banner__restaurants-description--food-trucks">
        food trucks
      </p>
    </div>
  </div>
  <img
    class="banner__tasty"
    srcset="./images/header/banner/hero-sotasty-desk-x1.png x2, ./images/header/banner/hero-sotasty-tab-x1.png x1"
    src="./images/header/banner/hero-sotasty-tab-x1.png"
    alt="girl with ice cream"
  />
</section>
