<footer class="ft-bg">
  <div class="footer">
    <div class="footer__container">
      <div class="footer__slogan">
        <p>homemade ice cream made</p>
        <p class="footer__slogan-emp">with passion</p>
      </div>
      <div>
        <ul class="socials">
          <li>
            <a class="socials__link" target="_blank" href="#">
              <svg style="fill: currentColor" width="20" height="20">
                <use href="../images/icons.svg#icon-gh"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="socials__link" target="_blank" href="#">
              <svg style="fill: currentColor" width="20" height="20">
                <use href="../images/icons.svg#icon-tg"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="socials__link" target="_blank" href="#">
              <svg style="fill: currentColor" width="20" height="20">
                <use href="../images/icons.svg#icon-fb"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="footer__contact">
          Feel free to contact
          <a class="footer__phone" href="tel:+61383766284">+61 (0) 383 766 284</a>
        </p>
      </div>
    </div>
  </div>
  <div class="copyrights">
    <p class="copyrights__text">&copy 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
