<section class="gallery">
  <div class="gallery__all">
    <div class="gallery__image--1-2"></div>
    <div class="gallery__column">
      <div class="gallery__image--2-2"></div>
      <div class="gallery__image--3-2"></div>
    </div>
    <div class="gallery__column">
      <div class="gallery__image--4-2"></div>
      <div class="gallery__image--5-2"></div>
    </div>
    <div class="gallery__column">
      <div class="gallery__image--6-2"></div>
      <div class="gallery__image--7-2"></div>
    </div>
    <div class="gallery__column--margin">
      <div class="gallery__image--8-2"></div>
      <div class="gallery__image--9-2"></div>
    </div>
    <div class="gallery__image--10-2"></div>
  </div>
</section>
