<section class="section products">
  <p class="section__uptitle">100% natural</p>
  <h2 class="section__title">Products</h2>
  <ul class="products__list">
    <li class="products__item products__item--pink">
      <div class="products__photo products__photo--img1"></div>

      <h2 class="products__name">Ice Cream</h2>

      <p class="products__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>

      <!-- pseudoelement ::after  strzałka -->
      <button type="button" class="arrow"></button>
    </li>

    <li class="products__item products__item--coffee">
      <div class="products__photo products__photo--img2"></div>

      <h2 class="products__name">Ice Coffee</h2>

      <p class="products__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>

      <button type="button" class="arrow"></button>
    </li>

    <li class="products__item products__item--green">
      <div class="products__photo products__photo--img3"></div>

      <h2 class="products__name">Milkshakes</h2>

      <p class="products__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>

      <button type="button" class="arrow"></button>
    </li>
  </ul>
</section>
