<section class="about">


<div class="about__top">
<p class="about__pre-title"> tradition and love</p>
<h2 class="about__title">how it's made?</h1>
</div>

<picture>
<img
alt="picture of a jag full of milk and cow behind it"
class="about__picture"
srcset="
  /src/images/about/cow-and-milk_mobile@1x.png 1x,
  /src/images/about/cow-and-milk_mobile@1x.png 2x,
  /src/images/about/cow-and-milk_tablet@1x.png 1x,
  /src/images/about/cow-and-milk_tablet@1x.png 2x,
  /src/images/about/cow-and-milk_desktop@1x.png 1x,
  /src/images/about/cow-and-milk_desktop@1x.png 2x,
">
</picture>

    <div class="about__text">
        <p class="about__beginning">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
            lorem eget, egestas eros.
            Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__middle">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris
            rhoncus orci in imperdiet placerat.
            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
        </p>
            <span class="about__ending">
                Aliquam erat volutpat. Aenean accumsan.</span>

        <button type="button" class="about__button" data-about-modal-open>
            Read more
            <svg class="about__icon" width="6px" height="8px">
                <use href="./images/sprite.svg#icon-Vector"></use>
            </svg>
        </button>
    </div>




    
</section>