<!-- formularz po tym jak ktoś kliknie "read more" button -->
<div class="about-backdrop is-hidden" data-modal-about>
  <div class="about-modal">
    <button type="button" class="about-modal__close-button btn btn--small" data-modal-about-close>
      <svg class="about-modal__icon" width="18px" height="18px">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <section>
      <h2 class="about-modal__title">Why are cows such great dancers?</h2>
      <div class="about-modal__container">
        <img
          class="about-modal__img"
          src="/src/images/about/dancing-cow.png"
          alt="Tańcząca krowa"
        />
        <p class="about-modal__text">They have all the best moooves!</p>
      </div>
    </section>
  </div>
</div>
