<section class="advantages">
  <h2 class="advantages__title">Advantages</h2>
  <ul class="advantages__list">
    <li class="advantages__box">
      <picture>
        <img
          srcset="
            ./images/advantages/photo-icon1_desktop@1x.png 270w,
            ./images/advantages/photo-icon1_desktop@2x.png 540w,
            ./images/advantages/photo-icon1_tablet@1x.png  354w,
            ./images/advantages/photo-icon1_tablet@2x.png  708w,
            ./images/advantages/photo-icon1_mobile@1x.png  450w,
            ./images/advantages/photo-icon1_mobile@2x.png  900wx
          "
          sizes="(max-width: 767px) 450px, (max-width: 1199px) 354px, (min-width: 1200px) 270px"
          width="33px"
          height="50px"
          alt="a bucket of milk"
          class="advantages__img"
        />
      </picture>
      <h3 class="advantages__box-title">721</h3>
      <p class="advantages__box-text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advantages__box">
      <picture>
        <img
          srcset="
            ./images/advantages/photo-icon2_desktop@1x.png 270w,
            ./images/advantages/photo-icon2_desktop@2x.png 540w,
            ./images/advantages/photo-icon2_tablet@1x.png  354w,
            ./images/advantages/photo-icon2_tablet@2x.png  708w,
            ./images/advantages/photo-icon2_mobile@1x.png  450w,
            ./images/advantages/photo-icon2_mobile@2x.png  900wx
          "
          sizes="(max-width: 767px) 450px, (max-width: 1199px) 354px, (min-width: 1200px) 270px"
          width="50px"
          height="50px"
          alt="a bucket of milk"
          class="advantages__img"
        />
      </picture>
      <h3 class="advantages__box-title">16KG</h3>
      <p class="advantages__box-text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advantages__box">
      <picture>
        <img
          srcset="
            ./images/advantages/photo-icon3_desktop@1x.png 270w,
            ./images/advantages/photo-icon3_desktop@2x.png 540w,
            ./images/advantages/photo-icon3_tablet@1x.png  354w,
            ./images/advantages/photo-icon3_tablet@2x.png  708w,
            ./images/advantages/photo-icon3_mobile@1x.png  450w,
            ./images/advantages/photo-icon3_mobile@2x.png  900w
          "
          sizes="(max-width: 767px) 450px, (max-width: 1199px) 354px, (min-width: 1200px) 270px"
          width="44px"
          height="50px"
          alt="a bucket of milk"
          class="advantages__img"
        />
      </picture>
      <h3 class="advantages__box-title">84</h3>
      <p class="advantages__box-text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
  </ul>
</section>
