<section class="advantages">
  <h2>Advantages</h2>
  <ul class="advantages__list">
    <li class="advantages__item">
      <p class="advantages__numbers advantages__picture-milk">721</p>
      <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="advantages__item">
      <p class="advantages__numbers advantages__picture-apple">16kg</p>
      <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="advantages__item">
      <p class="advantages__numbers advantages__picture-heart">84</p>
      <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
  </ul>
</section>
