<section class="contacts">
  <div class="contacts__container" id="contacts">
    <h2 class="contacts__title">Contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <p class="contacts__category">CAFE</p>
        <article class="contacts__place">
          <h3 class="contacts__city">Chicago</h3>
          <p class="contacts__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </article>
        <div class="contacts__opened">
          <h3 class="contacts__day">Monday - Friday</h3>
          <p class="contacts__time contacts__time--margin">
            <time datetime="06:00">06:00 AM</time> - <time datetime="22:00">10:00 PM</time>
          </p>
          <h3 class="contacts__day">Saturday - Sunday</h3>
          <p class="contacts__time">
            <time datetime="08:00">08:00 AM</time> - <time datetime="16:00">04:00 PM</time>
          </p>
        </div>
        <address class="contacts__contact">
          <a class="contacts__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
          <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </address>
      </li>
      <li class="contacts__item">
        <p class="contacts__category contacts__category--larger">FOOD TRUCK</p>
        <article class="contacts__place">
          <h3 class="contacts__city">Los Angeles</h3>
          <p class="contacts__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </article>
        <div class="contacts__opened">
          <h3 class="contacts__day">Monday - Friday</h3>
          <p class="contacts__time contacts__time--margin">
            <time datetime="06:00">06:00 AM</time> - <time datetime="22:00">10:00 PM</time>
          </p>
          <h3 class="contacts__day">Saturday - Sunday</h3>
          <p class="contacts__time">
            <time datetime="08:00">08:00 AM</time> - <time datetime="16:00">04:00 PM</time>
          </p>
        </div>
        <address class="contacts__contact">
          <a class="contacts__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
          <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </address>
      </li>
      <li class="contacts__item">
        <p class="contacts__category">CAFE</p>
        <article class="contacts__place">
          <h3 class="contacts__city">New York</h3>
          <p class="contacts__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </article>
        <div class="contacts__opened">
          <h3 class="contacts__day">Monday - Friday</h3>
          <p class="contacts__time contacts__time--margin">
            <time datetime="06:00">06:00 AM</time> - <time datetime="22:00">10:00 PM</time>
          </p>
          <h3 class="contacts__day">Saturday - Sunday</h3>
          <p class="contacts__time">
            <time datetime="08:00">08:00 AM</time> - <time datetime="16:00">04:00 PM</time>
          </p>
        </div>
        <address class="contacts__contact">
          <a class="contacts__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
          <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </address>
      </li>
    </ul>
    <ul class="contacts__buttons-box">
      <li>
        <button class="btn btn--large">
          <span class="btn__text btn__text--large btn__text--light">Our Locations</span>
          <svg class="btn__icon btn__icon--light">
            <use href="./images/icons.svg#icon-button-arrow"></use>
          </svg>
        </button>
      </li>
      <li>
        <button class="btn btn--large-secondary">
          <span class="btn__text btn__text--large btn__text--red">Franchise</span>
          <svg class="btn__icon">
            <use href="./images/icons.svg#icon-button-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
