<section class="reviews">
    <div class="container">
        <!-- Zdjęcie pierwszego slajdu -->
        <picture>
            <img alt="Picture of Customer numer 1 - Emily">
        </picture>
        <article class="reviews__article">
            <div class="reviews__wrapper">
                <p>
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
            </div>
        </article>
        <ul class="reviews__list">
            <li class="reviews__item--dots"></li>
            <li class="reviews__item--dots"></li>
            <li class="reviews__item--dots"></li>
        </ul>
        <h2 class="reviews__name">Emily, Los Angeles</h2>
        <div class="reviews__pagination"></div>
        <!-- Zdjęcie drugiego slajdu -->
        <picture>
            <img alt="Picture of Customer number 2 - Angela">
        </picture>
        <article class="reviews__article">
            <div class="reviews__wrapper">
                <p>
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
            </div>
        </article>
        <ul class="reviews__list">
            <li class="reviews__item--dots"></li>
            <li class="reviews__item--dots"></li>
            <li class="reviews__item--dots"></li>
        </ul>
        <h2 class="reviews__name">Angela, Barcelona</h2>
        <div class="reviews__pagination"></div>
        <!-- Zdjęcie trzecieg slajdu -->
        <picture>
            <img alt="Picture of Customer number 3 - Jadwiga">
        </picture>
        <article class="reviews__article">
            <div class="reviews__wrapper">
                <p>
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
            </div>
        </article>
        <ul class="reviews__list">
            <li class="reviews__item--dots"></li>
            <li class="reviews__item--dots"></li>
            <li class="reviews__item--dots"></li>
        </ul>
        <h2 class="reviews__name">Jadwiga, Lipinki Łużyckie</h2>
        <div class="reviews__pagination"></div>
      </div>
</section>
