<section class="customer-reviews container">
  <img
    src="./images/customer-reviews/firstperson@1.png"
    alt="Uśmiechnieta kobieta o kreconych włosach"
  />
  <div class="customer-reviews__box">
    <p class="customer-reviews__declare">
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
      nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
    </p>
  </div>
  <h3 class="customer-reviews__name">Emily, Los Angeles</h3>
  <ul class="customer-reviews__list">
    <li class="customer-reviews__item">
      <!-- <button class="customer-reviews__btn" type="button"> -->
      <svg class="customer-reviews__icon" width="12px" height="12px">
        <use href="./images/icons.svg#icon-home"></use>
      </svg>
      <!-- </button> -->
    </li>
    <li><button class="customer-reviews__btn" type="button"></button></li>
    <li><button class="customer-reviews__btn" type="button"></button></li>
  </ul>
</section>
