<div class="container">
  <div class="slider">
    <div class="slider__slides">
      <div class="slider__slide active">
        <a class="customers-reviews__picturelink" href="https://www.facebook.com/" target="_blank">
          <img
            srcset="
              ./images/EmilyLosAngelesx1.jpg 1x,
              ./images/EmilyLosAngelesx2.jpg 2x,
              ./images/EmilyLosAngelesx3.jpg 3x
            "
            ,
            src="./images/EmilyLosAngelesx1.jpg"
            ,
            alt="picture of Emily from los angeles"
          />
        </a>
        <div class="customers-reviews__container">
          <article class="customers-reviews__textbox">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </article>
          <div class="customers-reviews__gradient"></div>
        </div>
        <div class="customers-reviews__slider">
          <div class="customers-reviews__dots">
            <span class="customers-reviews__dot"></span>
            <span class="customers-reviews__dot"></span>
            <span class="customers-reviews__dot"></span>
          </div>
          <div class="customers-reviews__name">Emily, Los Angeles</div>
        </div>
      </div>
      <div class="slider__slide">
        <a class="customers-reviews__picturelink" href="https://www.facebook.com/" target="_blank">
          <img
            srcset="
              ./images/EmmaNewYorkx1.jpg 1x,
              ./images/EmmaNewYorkx2.jpg 2x,
              ./images/EmmaNewYorkx3.jpg 3x
            "
            ,
            src="./images/EmmaNewYorkx1.jpg"
            ,
            alt="picture of Emily from los angeles"
          />
        </a>
        <div class="customers-reviews__container">
          <article class="customers-reviews__textbox">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda sint at delectus
            ipsam, voluptatem maiores amet voluptate illo vitae similique!
          </article>
          <div class="customers-reviews__gradient"></div>
        </div>
        <div class="customers-reviews__slider">
          <div class="customers-reviews__dots">
            <span class="customers-reviews__dot"></span>
            <span class="customers-reviews__dot"></span>
            <span class="customers-reviews__dot"></span>
          </div>
          <div class="customers-reviews__name">Emily, Los Angeles</div>
        </div>
      </div>
      <div class="slider__slide">
        <a class="customers-reviews__picturelink" href="https://www.facebook.com/" target="_blank">
          <img
            srcset="
              ./images/sandrabostonx1.jpg 1x,
              ./images/sandrabostonx2.jpg 2x,
              ./images/sandrabostonx3.jpg 3x
            "
            ,
            src="./images/sandrabostonx1.jpg"
            ,
            alt="picture of Emily from los angeles"
          />
        </a>
        <div class="customers-reviews__container">
          <article class="customers-reviews__textbox">
            Lorem ipsum dolor sit. Consequuntur libero, molestiae magni et accusantium quae optio
            omnis magnam.
          </article>
          <div class="customers-reviews__gradient"></div>
        </div>
        <div class="customers-reviews__slider">
          <div class="customers-reviews__dots">
            <span class="customers-reviews__dot"></span>
            <span class="customers-reviews__dot"></span>
            <span class="customers-reviews__dot"></span>
          </div>
          <div class="customers-reviews__name">Emily, Los Angeles</div>
        </div>
      </div>

      <div id="nav-button--prev" class="slider__nav-button"></div>
      <div id="nav-button--next" class="slider__nav-button"></div>
      <div class="slider__nav">
        <div class="slider__navlink active"></div>
        <div class="slider__navlink"></div>
        <div class="slider__navlink"></div>
      </div>
    </div>
  </div>
</div>
