<section class="customers-reviews">
  <h1 class="customers-reviews__title">Customers Reviews</h1>
  <a class="customers-reviews__picturelink" href="https://www.facebook.com/" target="_blank">
    <img
      srcset="
        ./images/EmilyLosAngelesx1.jpg 1x,
        ./images/EmilyLosAngelesx2.jpg 2x,
        ./images/EmilyLosAngelesx3.jpg 3x
      "
      ,
      src="./images/EmilyLosAngelesx1.jpg"
      ,
      alt="picture of Emily from los angeles"
    />
  </a>
  <div class="customers-reviews__container">
    <article class="customers-reviews__textbox">
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
      nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
    </article>
    <div class="customers-reviews__gradient"></div>
  </div>
  <div class="customers-reviews__slider">
    <div class="customers-reviews__dots">
      <span class="customers-reviews__dot"></span>
      <span class="customers-reviews__dot"></span>
      <span class="customers-reviews__dot"></span>
    </div>
    <div class="customers-reviews__name">Emily, Los Angeles</div>
    <div class="customers-reviews__buttons">
      <span class="customers-reviews__house"></span>
      <span class="customers-reviews__slider-dot"></span>
      <span class="customers-reviews__slider-dot"></span>
    </div>
  </div>
</section>
