<section class="review">
  <h2 class="review__header">customer review</h2>
  <div class="container review__container">
    <picture class="review__img">
      <img src="./images/customer_review/review-image.png" alt="client's image" />
    </picture>
    <div class="review__wrapper">
      <p class="review__description">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet repellat, dolorum eum sit
        blanditiis ducimus repellendus nobis.
      </p>
    </div>
    <div class="client-info">
      <p class="client-info__name">emily, los angeles</p>
      <ul class="client-info__list">
        <li class="client-info__item">
          <button class="client-info__btn client-info__btn--active" type="button">
            <svg class="client-info__svg" width="12.4" height="11.84">
              <use href="./images/customer_review/home-icon.svg#icon-home"></use>
            </svg>
          </button>
        </li>
        <li class="client-info__item">
          <button class="client-info__btn" type="button"></button>
        </li>
        <li class="client-info__item">
          <button class="client-info__btn" type="button"></button>
        </li>
      </ul>
    </div>
  </div>
</section>
