<section class="container-gallery">
  <div class="gallery">
    <ul class="gallery__list">
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/green-ice_desktop-x1.png 1x,
              ./images/gallery/green-ice_desktop-x2.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/green-ice_tab-x1.png 1x,
              ./images/gallery/green-ice_tab-x2.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/gallery/green-ice_mob-x1.png 1x,
              ./images/gallery/green-ice_mob-x2.png 2x
            "
            media="(min-width: 320px)"
          />

          <img
            class="gallery__image img-1"
            src="./images/gallery/green-ice_mob-x1.png"
            width="44"
            height="44"
            alt="Zielone lody na patyku w drewnianej miseczce i szklanym wazonie posypane płatkami kwiatów"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./images/gallery/ice-in-the-cone_desktop-x1.png 1x,
              ./images/gallery/ice-in-the-cone_desktop-x2.png 2x
            "
            media="(min-width: 1200px)"
          />

          <source
            srcset="
              ./images/gallery/ice-in-the-cone_tab-x1.png 1x,
              ./images/gallery/ice-in-the-cone_tab-x2.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/ice-in-the-cone_mob-x1.png 1x,
              ./images/gallery/ice-in-the-cone_mob-x2.png 2x
            "
            media="(min-width: 320px)"
          />

          <img
            class="gallery__image img-2"
            src="./images/gallery/ice-in-the-cone_mob-x1.png"
            width="44"
            height="44"
            alt="Lód w rożku waflowym"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./images/gallery/raspberry-ice_desktop-x1.png 1x,
              ./images/gallery/raspberry-ice_desktop-x2.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/raspberry-ice_tab-x1.png 1x,
              ./images/gallery/raspberry-ice_tab-x2.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/raspberry-ice_mob-x1.png 1x,
              ./images/gallery/raspberry-ice_mob-x2.png 2x
            "
            media="(min-width: 320px)"
          />

          <img
            class="gallery__image img-3"
            src="./images/gallery/raspberry-ice_mob-x1.png"
            width="44"
            height="44"
            alt="Lody malinowe na patyku posypane malinami"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./images/gallery/lots-of-ice_desktop-x1.png 1x,
              ./images/gallery/lots-of-ice_desktop-x2.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/lots-of-ice_tab-x1.png 1x,
              ./images/gallery/lots-of-ice_tab-x2.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/lots-of-ice_mob-x1.png 1x,
              ./images/gallery/lots-of-ice_mob-x2.png 2x
            "
            media="(min-width: 320px)"
          />

          <img
            class="gallery__image img-4"
            src="./images/gallery/lots-of-ice_mob-x1.png"
            width="44"
            height="44"
            alt="Kilka lodów rożkowych o różnych smakach posypane jagodami"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./images/gallery/girl-with-ice_desktop-x1.png 1x,
              ./images/gallery/girl-with-ice_desktop-x2.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/girl-with-ice_tab-x1.png 1x,
              ./images/gallery/girl-with-ice_tab-x2.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/girl-with-ice_mob-x1.png 1x,
              ./images/gallery/girl-with-ice_mob-x2.png 2x
            "
            media="(min-width: 320px)"
          />

          <img
            class="gallery__image img-5"
            src="./images/gallery/girl-with-ice_mob-x1.png"
            alt="Dziewczyna jedząca loda w rożku"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./images/gallery/ice-with-fruits_desktop-x1.png 1x,
              ./images/gallery/ice-with-fruits_desktop-x2.png 2x
            "
            media="(min-width: 1200px)"
          />

          <source
            srcset="
              ./images/gallery/ice-with-fruits_tab-x1.png 1x,
              ./images/gallery/ice-with-fruits_tab-x2.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/ice-with-fruits_mob-x1.png 1x,
              ./images/gallery/ice-with-fruits_mob-x2.png 2x
            "
            media="(min-width: 320px)"
          />

          <img
            class="gallery__image img-6"
            src="./images/gallery/ice-with-fruits_mob-x1.png"
            alt="Lody w miseczce z dodatkiem owoców"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./images/gallery/strawberry-ice_desktop-x1.png 1x,
              ./images/gallery/strawberry-ice_desktop-x2.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/strawberry-ice_tab-x1.png 1x,
              ./images/gallery/strawberry-ice_tab-x2.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/strawberry-ice_mob-x1.png 1x,
              ./images/gallery/strawberry-ice_mob-x2.png 2x
            "
            media="(min-width: 320px)"
          />

          <img
            class="gallery__image img-7"
            src="./images/gallery/strawberry-ice_mob-x1.png"
            alt="Truskawkowy lód w rożku "
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./images/gallery/dog-eat-ice_desktop-x1.png 1x,
              ./images/gallery/dog-eat-ice_desktop-x2.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/dog-eat-ice_tab-x1.png 1x,
              ./images/gallery/dog-eat-ice_tab-x2.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/dog-eat-ice_mob-x1.png 1x,
              ./images/gallery/dog-eat-ice_mob-x2.png 2x
            "
            media="(min-width: 320px)"
          />

          <img
            class="gallery__image img-8"
            src="./images/gallery/dog-eat-ice_mob-x1.png"
            alt="Pies jedzący loda"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./images/gallery/chocolate-shake_desktop-x1.png 1x,
              ./images/gallery/chocolate-shake_desktop-x2.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/chocolate-shake_tab-x1.png 1x,
              ./images/gallery/chocolate-shake_tab-x2.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/chocolate-shake_mob-x1.png 1x,
              ./images/gallery/chocolate-shake_mob-x2.png 2x
            "
            media="(min-width: 320px)"
          />

          <img
            class="gallery__image img-9"
            src="./images/gallery/chocolate-shake_mob-x1.png"
            alt="Szejk czekoladowy z rurką i czekoladową posypką"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./images/gallery/shake-and-donat_desktop-x1.png 1x,
              ./images/gallery/shake-and-donat_desktop-x2.png 2x
            "
            media="(min-width: 1200px)"
          />

          <source
            srcset="
              ./images/gallery/shake-and-donat_tab-x1.png 1x,
              ./images/gallery/shake-and-donat_tab-x2.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/shake-and-donat_mob-x1.png 1x,
              ./images/gallery/shake-and-donat_mob-x2.png 2x
            "
            media="(min-width: 320px)"
          />

          <img
            class="gallery__image img-10"
            src="./images/gallery/shake-and-donat_mob-x1.png"
            alt="Szejk truskawkowy z donatem z bitą śmietaną i posypką"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
