<header class="header">
  <button
    type="button"
    class="header__button js-open-menu"
    aria-expanded="false"
    aria-controls="mobile-menu"
  >
    <!-- <svg class="mobile-container__icon" width="20" height="12" aria-label="mobile menu switcher">
    <use href="#"></use>
  </svg> -->
  </button>
  <div class="container">
    <a href="./index.html" class="logo">
      <!-- <picture class="logo__picture">
               <source
                        srcset=""
                        media="(min-width: 320px)"
                      />
                      <source
                        srcset=""
                        media="(min-width: 768px)"
                      />
                      <source
                        srcset=""
                        media="(min-width: 1200px)"
                      />
                      <img
                        src=""
                        alt="logo"
                        width=""
                        height=""
                      />
            </picture> -->
    </a>
    <nav class="header__nav">
      <ul class="header__list">
        <li><a href="./index.html" class="header__list-item">Home</a></li>
        <li><a href="#products" class="header__list-item">About us</a></li>
        <li><a href="#" class="header__list-item">How it's made?</a></li>
        <li><a href="#" class="header__list-item">Our products</a></li>
        <li><a href="#" class="header__list-item">Contact</a></li>
      </ul>
    </nav>
    <button type="button" class="header__button">Buy now</button>
    <h1>ICE CREAM MADE WITH<span>PASSION</span></h1>
    <div class="">
      <button class="" type="button" class="">Products</button>
      <button class="" type="button" class="">How it's made</button>
    </div>
    <!-- <picture class="">
               <source
                        srcset=""
                        media="(min-width: 768px)"
                      />
                      <source
                        srcset=""
                        media="(min-width: 1200px)"
                      />
                      <img
                        src=""
                        alt="jug of milk"
                        width=""
                        height=""
                      />
            </picture> -->
    <p class="">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et
    </p>
    <!-- <picture class="">
               <source
                        srcset=""
                        media="(min-width: 320px)"
                      />
                      <source
                        srcset=""
                        media="(min-width: 768px)"
                      />
                      <source
                        srcset=""
                        media="(min-width: 1200px)"
                      />
                      <img
                        src=""
                        alt="ice cream in a cone"
                        width=""
                        height=""
                      />
            </picture> -->
    <div>
      <div class="">
        <h2 class="">16</h2>
        <p class="">cafes</p>
      </div>
      <div class="">
        <h2 class="">23</h2>
        <p class="">food trucks</p>
      </div>
    </div>
    <!-- <picture class="">
               <source
                        srcset=""
                        media="(min-width: 768px)"
                      />
                      <source
                        srcset=""
                        media="(min-width: 1200px)"
                      />
                      <img
                        src=""
                        alt="girl eating ice cream in a cone"
                        width=""
                        height=""
                      />
            </picture> -->
  </div>
</header>
