<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__container">
        <picture class="header__logo">
          <source srcset="./images/header/logo@1x.png 1x, ./images/header/logo@2x.png 2x" />
          <img src="./images/header/logo@1x.png" alt="logo" width="199" height="50" />
        </picture>
      </div>
      <nav class="header__nav">
        <ul class="header__menu">
          <li class="header__menu-item">
            <a class="header__menu-link header__menu-link--active" href="index.html">home</a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="#">about us</a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="#">how it`s made</a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="#">our products</a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="#">contact</a>
          </li>
        </ul>
      </nav>
      <!-- mobile menu -->
      <svg
        class="header__menu-svg js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
        width="20"
        height="12"
      >
        <use href="images/icons.svg#icon-burger"></use>
      </svg>
      <!-- mobile menu -->
      <button class="header__button" type="button">
        Buy now
        <svg class="header__icon" width="10" height="10">
          <use href="./images/icons.svg#icon-greater-than"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
<!-- <header class="header">
  <div class="mobile-container">
    <button type="button" class="mobile-container__button js-open-menu" aria-expanded="false"
      aria-controls="mobile-menu">
      <svg class="mobile-container__icon" width="20" height="12" aria-label="mobile menu switcher">
        <use href="./images/icons.svg#icon-hamburger"></use>
      </svg>
    </button>
  </div>
  <div class="container">
    <a href="./index.html" class="logo">
      <picture class="header__logo">
        <source srcset="./images/header/logo@1x.png 1x, ./images/header/logo@2x.png 2x" />
        <img src="./images/header/logo@1x.png" alt="logo" width="199" height="50" />
      </picture>
    </a>
    <nav class="header__nav">
      <ul class="header__list">
        <li><a href="./index.html" class="header__list-item">home</a></li>
        <li><a href="#products" class="header__list-item">about us</a></li>
        <li><a href="#" class="header__list-item">how it's made?</a></li>
        <li><a href="#" class="header__list-item">our products</a></li>
        <li><a href="#" class="header__list-item">contact</a></li>
      </ul>
    </nav>
    <button class="header__button" type="button">
      buy now
      <svg class="mobile-menu__icon-close" width="10" height="10">
        <use href="./images/icons.svg#icon-greater-than"></use>
      </svg>
    </button>
    <picture class="header__picture-milk">
      <source srcset="./images/header/milk_tablet@1x.png 1x, ./images/header/milk_tablet@2x.png 2x"
        media="(min-width: 768px)" />
      <source srcset="./images/header/milk_desktop@1x.png 1x, ./images/header/milk_desktop@2x.png 2x"
        media="(min-width: 1200px)" />
      <img src="./images/header/milk_tablet@1x.png" alt="jug of milk" width="124" height="126" />
    </picture>
    <p class="header__paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et
    </p>
    <div class="header__btn">
      <button type="button" class="header__btn--image"></button>
    </div>
    <div>
      <div class="header__sth">
        <h2 class="header__headline">16</h2>
        <p class="header__text">cafes</p>
      </div>
      <div class="header__sth">
        <h2 class="">23</h2>
        <p class="">food trucks</p>
      </div>
      <picture class="header__picture-girl">
        <source srcset=" ./images/header/girl_tablet@1x.png 1x, ./images/header/girl_tablet@2x.png 2x"
          media="(min-width: 768px)" />
        <source srcset="./images/header/girl_desktop@1x.png 1x, ./images/header/girl_desktop@2x.png 2x"
          media="(min-width: 1200px)" />
        <img src="./images/header/girl_tablet@1x.png" alt="girl eating ice cream in a cone" width="168" height="133" />
      </picture>
    </div>
  </div>
</header> -->
