
<section class="hero">
    <div class="hero__container">
        <h1 class="hero__title">ice cream made with <span class="hero__title-red">passion</span></h1>
        <div>
            <button class="hero__button-first" type=" button" class="">products</button>
            <button class="hero__button-secound" type="button" class="">how it's made</button>
        </div>
    </div>
    <picture class="hero__picture">
        <source srcset="./images/header/big-ice_modal@1x.png 1x, ./images/header/big-ice_modal@2x.png 2x"
            media="(min-width: 320px)" />
        <source srcset="./images/header/big-ice_tablet@1x.png 1x, ./images/header/big-ice_tablet@2x.png 2x"
            media="(min-width: 768px)" />
        <source srcset="
        ./images/header/big-ice_desktop@1x.png 1x,
        ./images/header/big-ice_desktop@2x.png 2x
      " media="(min-width: 1200px)" />
        <img class="hero__image" src="./images/header/big-ice_modal@1x.png" alt="ice cream" width="171" height="410" />
    </picture>
</section>
