<section class="header">
  <div class="header__logo">
    <a class="logo" href="#">
      <img src="../images/hero-header/logo.png" alt="Logo of the company" width="199" height="50"
    /></a>
  </div>
  <nav class="navigation">
    <ul class="navigation__list">
      <li>
        <a href="../index.html" class="navigation__link">Home</a>
      </li>
      <li>
        <a href="#abaut" class="navigation__link">About us</a>
      </li>
      <li>
        <a href="#howitsmade" class="navigation__link">How it’s made?</a>
      </li>
      <li>
        <a href="#products" class="navigation__link">Our products</a>
      </li>
      <li>
        <a href="#contact" class="navigation__link">Contact</a>
      </li>
    </ul>
  </nav>

  <button class="btn btn--medium">
    <span class="btn__text btn__text--large btn__text--red">Buy now</span>
    <svg class="btn__icon">
      <use href="./images/icons.svg#icon-button-arrow"></use>
    </svg>
  </button>

  <div class="header__title">
    Ice cream <br />
    made with <br />
    <span class="header__title--pink">passion</span>
  </div>

  <button class="btn btn--small">
    <a class="btn__text btn__text--small btn__text--light link" href="#products">Products</a>
  </button>
  <button class="btn btn--small-secondary">
    <a class="btn__text btn__text--small btn__text--red link" href="#about">How it’s made?</a>
  </button>

  <div class="header__content">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et
  </div>

  <div class="counter">
    <ul class="counter_list">
      <li class="counter__item">23</li>
      <li class="counter__item">16</li>
    </ul>
  </div>
</section>
