<section class="header">
  <div class="container header__wrapper">
    <div class="header__menu">
      <div class="header__logo">
        <a class="logo" href="#">
          <img
            src="./images/hero-header/logo.png"
            alt="Logo of the company"
            width="199"
            height="50"
        /></a>
      </div>
      <nav class="navigation">
        <ul class="navigation__list">
          <li>
            <a href="/src/index.html" class="navigation__link">Home</a>
          </li>
          <li>
            <a href="#about" class="navigation__link">About us</a>
          </li>
          <li>
            <a href="#howitsmade" class="navigation__link">How it’s made?</a>
          </li>
          <li>
            <a href="#products" class="navigation__link">Our products</a>
          </li>
          <li>
            <a href="#contact" class="navigation__link">Contact</a>
          </li>
        </ul>
      </nav>

      <div class="header__buy">
        <button class="btn btn--medium" data-order-modal-open>
          <span class="btn__text btn__text--large btn__text--red">Buy now</span>
          <svg class="btn__icon">
            <use href="./images/icons.svg#icon-button-arrow"></use>
          </svg>
        </button>
      </div>
    </div>

    <!--<svg class="header_burger" width="20" height="12">
        <use href="./images/icons.svg#icon-burger-menu"></use>
      </svg>-->

    <button
      class="header__burger js-open-mobile-modal"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="header__burger-icon" width="25" height="25">
        <use href="./images/icons.svg#icon-burger-menu"></use>
      </svg>
    </button>

    <div class="header__title">
      Ice cream <br />
      made with <br />
      <span class="header__title--pink">passion</span>
    </div>

    <div class="header__btn">
      <button class="btn btn--small">
        <a class="btn__text btn__text--small btn__text--light link" href="#products">Products</a>
      </button>
      <button class="btn btn--small-secondary">
        <a class="btn__text btn__text--small btn__text--red link" href="#about">How it’s made?</a>
      </button>
    </div>

    <div class="header__milk">
      <picture class="header__milk-pic">
        <source
          media="(min-width: 1280px)"
          srcset="
            /src/images/hero-header/desktop/milk-desk@1x.png 1x,
            /src/images/hero-header/desktop/milk-desk@2x.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /src/images/hero-header/tablet/milk-tablet@1x.png 1x,
            /src/images/hero-header/tablet/milk-tablet@2x.png 2x
          "
        />
        <img src="/src/images/hero-header/tablet/milk-tablet@1x.png" alt="Pitch of milk" />
      </picture>
      <span class="header__milk-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </span>
      <img class="header__arrow" src="/src/images/hero-header/tablet/arrow-tablet.png" />
    </div>

    <div class="counter">
      <div class="counter__cafes">
        <h2 class="counter__cafes-number">16</h2>
        <p class="counter__cafes-name">cafes</p>
      </div>
      <div class="counter__trucks">
        <h2 class="counter__trucks-number">23</h2>
        <p class="counter__trucks-name">food trucks</p>
      </div>
    </div>
  </div>
</section>
