<div class="menu-modal js-mobile-modal-container">
  <div class="menu-modal__x-btn-container">
    <button class="menu-modal__x-btn js-close-mobile-modal">
      <svg class="menu-modal__x-icon">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
  </div>

  <div class="menu-modal__buy-btn-container">
    <button class="btn btn--medium-secondary" data-order-modal-open-2>
      <span class="btn__text btn__text--large btn__text--red">Buy now</span>
      <svg class="btn__icon">
        <use href="./images/icons.svg#icon-button-arrow"></use>
      </svg>
    </button>
  </div>

  <div class="menu-modal__nav">
    <ul class="menu-modal__nav-list">
      <li class="menu-modal__nav-element">
        <a href="/src/index.html" class="menu-modal__nav-link">Home</a>
      </li>
      <li class="menu-modal__nav-element">
        <a href="#about" class="menu-modal__nav-link">About us</a>
      </li>
      <li class="menu-modal__nav-element">
        <a href="#howitsmade" class="menu-modal__nav-link">How it's made?</a>
      </li>
      <li class="menu-modal__nav-element">
        <a href="#products" class="menu-modal__nav-link">Our products</a>
      </li>
      <li class="menu-modal__nav-element">
        <a href="#contacts" class="menu-modal__nav-link">Contacts</a>
      </li>
    </ul>
  </div>
</div>
