<div class="backdrop" data-modal-readmore>
  <div class="modal-readmore">
    <button class="modal-menu__btn">
      <!-- <a class="modal-menu__link"> -->
      <svg class="modal-menu__icon modal-menu__icon--color" data-modal-readmore-close>
        <use
          href="./images/icon/icons.svg#icon-close_24px"
          width="14"
          height="14"
          x="0"
          y="0"
        ></use>
      </svg>
      <!-- </a> -->
    </button>

    <h1 class="modal-readmore__head">How it's made?</h1>

    <ul class="modal-readmore__list">
      <li class="modal-readmore__item">
        <p class="modal-readmore__paragraph">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt. Aliquam erat volutpat. Aenean accumsan.
        </p>
      </li>
      <li class="modal-readmore__item">
        <p class="modal-readmore__paragraph">Do you want know more?</p>
        <ul class="modal-readmore__list modal-readmore__list--display">
            <li class="modal-readmore__item modal-readmore__item--border">
                <p class="modal-readmore__paragraph">
            <li class="modal-readmore__item">
                <select>
                    <option value="film">Film</option>
                    <option value="presentation">Presentation</option>
                </select>
            </li>
        </ul>
        

        <!-- <select id="size" name="size">
            <option value="xs">Extra Small</option>
            <option value="s">Small</option>
            <option value="m" selected>Medium</option>
            <option value="l">Large</option>
          </select> -->
      </li>
    </ul>
  </div>
</div>
