<div class="backdrop">
  <div class="modal-buy">
    <button class="modal-buy__btn-close">x
        <!-- <svg class="modal-buy__icon">
            <use href="../images/icon/icons.svg#icon-close_24px" x="0" y="0"></use>
        </svg> -->
    </button>

    <ul class="modal-buy__list">
      <li class="modal-buy__item">
        <h2 class="modal-buy__head">Zaloguj się</h2>
        <form class="modal-buy-form">
            <label class="modal-buy-form__name">
                <input type="text" name="name" placeholder="Login" class="modal-buy-form__field">
            </label>
            <p class="modal-buy-form__text">lub</p>
            <label class="modal-buy-form__name">
                <input type="email" name="email" placeholder="E-mail" class="modal-buy-form__field">
            </label>
            <label class="modal-buy-form__name">
                <input type="password" name="password" placeholder="Password" class="modal-buy-form__field">
            </label>
            <ul class="modal-buy-form__list">
                <li class="modal-buy-form__item">
                    <button class="modal-buy__btn">Log in</button>
                </li>
                <li class="modal-buy-form__item">I'm forgot password</li>
            </ul>
        </form>

        </form>
      </li>
      <li class="modal-buy__item">
        <button class="modal-buy__btn">Dołącz do nas</button>
      </li>
    </ul>

  </div>
</div>
