<div class="backdrop is-hidden" data-modal-buy>
  <div class="modal-buy">
    <button class="modal-menu__btn">
      <!-- <a class="modal-menu__link"> -->
      <svg class="modal-menu__icon modal-menu__icon--color" data-modal-menu-close>
        <use href="./images/icon/icons.svg#icon-close_24px" width="14" height="14" x="0" y="0"></use>
      </svg>
      <!-- </a> -->
    </button>

    <ul class="modal-buy__list">
      <li class="modal-buy__item">
        <h2 class="modal-buy__head">Log in</h2>
        <form class="modal-buy-form">
            <label class="modal-buy-form__name">
                <input type="text" name="name" placeholder="Login" class="modal-buy-form__field">
            </label>
            <p class="modal-buy-form__text">or</p>
            <label class="modal-buy-form__name">
                <input type="email" name="email" placeholder="E-mail" class="modal-buy-form__field">
            </label>
            <label class="modal-buy-form__name">
                <input type="password" name="password" placeholder="Password" class="modal-buy-form__field">
            </label>
            <ul class="modal-buy-form__list">
                <li class="modal-buy-form__item">
                    <button class="modal-buy__btn modal-buy__btn--padding">Log in</button>
                </li>
                <li class="modal-buy-form__item">
                    <a class="modal-buy-form__link">I forgot my password</a>
                </li>
            </ul>
        </form>

        </form>
      </li>
      <li class="modal-buy__item">
        <button class="modal-buy__btn">Join us</button>
      </li>
    </ul>

  </div>
</div>
