<div class="modal-menu is-hidden" data-modal-menu>
  <button class="modal-menu__btn" type="button">
    <a>
      <svg class="modal-menu__icon" data-modal-menu-close>
        <use
          href="./images/icon/icons.svg#icon-close_24px"
          width="14"
          height="14"
          x="0"
          y="0"
        ></use>
      </svg>
    </a>
  </button>

  <button class="button button--white button--padding" type="button">
    Buy now
    <!-- <svg class="button__icon">
      <use href="./images/icon/icons.svg#icon-Vector-1" x="0" y="0"></use>
    </svg> -->
  </button>

  <ul class="modal-menu__list">
    <li class="modal-menu__item">
      <a class="modal-menu__link">Home</a>
    </li>
    <li class="modal-menu__item">
      <a class="modal-menu__link">About us</a>
    </li>
    <li class="modal-menu__item">
      <a class="modal-menu__link">How it's made?</a>
    </li>
    <li class="modal-menu__item">
      <a class="modal-menu__link">Our products</a>
    </li>
    <li class="modal-menu__item">
      <a class="modal-menu__link">Contact</a>
    </li>
  </ul>
</div>

<!-- <script src="../modal-menu.js"></script> -->

<!-- <button class="modal-menu__btn" type="button"> -->
<!-- <svg class="modal-menu__icon">
      <use href="../images/icon/icons.svg#icon-close-1-1" x="0" y="0"></use>
    </svg> -->
<!-- </button> -->

<!-- <button class="page-header__button page-header__button--padding" type="button">Buy now</button> -->

<!-- <ul class="navigation navigation--display">
    <li>
      <a class="navigation__item navigation__item--padding link" href="index.html">Home</a>
    </li>
    <li>
      <a class="navigation__item navigation__item--padding link" href="index.html">About us</a>
    </li>
    <li>
      <a class="navigation__item navigation__item--padding link" href="index.html"
        >How it's made?</a
      >
    </li>
    <li>
      <a class="navigation__item navigation__item--padding link" href="index.html">Our products</a>
    </li>
    <li>
      <a class="navigation__item navigation__item--padding link" href="index.html">Contact</a>
    </li>
  </ul> -->
