<div class="backdrop" data-modal-readmore>
  <div class="modal-readmore">
    <button class="modal-menu__btn">
      <!-- <a class="modal-menu__link"> -->
      <svg class="modal-menu__icon modal-menu__icon--color" data-modal-readmore-close>
        <use
          href="./images/icon/icons.svg#icon-close_24px"
          width="14"
          height="14"
          x="0"
          y="0"
        ></use>
      </svg>
      <!-- </a> -->
    </button>

    <h1 class="modal-readmore__head">How it's made?</h1>
  </div>
</div>
