<div class="modal-menu">
  <button class="modal-menu__btn" type="button">
    <svg class="modal-menu__icon">
      <use href="../images/icon/icons.svg#icon-close-1-1" x="0" y="0"></use>
    </svg>
  </button>

  <button class="page-header__button page-header__button--padding" type="button">Buy now</button>

  <ul class="navigation navigation--display">
    <li>
      <a class="navigation__item navigation__item--padding link" href="index.html">Home</a>
    </li>
    <li>
      <a class="navigation__item navigation__item--padding link" href="index.html">About us</a>
    </li>
    <li>
      <a class="navigation__item navigation__item--padding link" href="index.html"
        >How it's made?</a
      >
    </li>
    <li>
      <a class="navigation__item navigation__item--padding link" href="index.html">Our products</a>
    </li>
    <li>
      <a class="navigation__item navigation__item--padding link" href="index.html">Contact</a>
    </li>
  </ul>
</div>
