<div class="modal-menu">
  <button class="modal-menu__btn" type="button">
    <!-- <svg class="modal-menu__icon">
      <use href="" x="0" y="0"></use>
    </svg> -->
  </button>

  <ul class="modal-menu__list">
    <li class="modal-menu__item">
        <a class="modal-menu__link" href="">Home</a> 
    </li>
    <li class="modal-menu__item">
        <a class="modal-menu__link" href="">About us</a>
    </li>
    <li class="modal-menu__item">
        <a class="modal-menu__link" href="">How it's made?</a>
    </li>
    <li class="modal-menu__item">
        <a class="modal-menu__link" href="">Our products</a>
    </li>
    <li class="modal-menu__item">
        <a class="modal-menu__link" href="">Contact</a>
    </li>
  </ul>
</div>
