  <section class="products">
    <div class="products-wrap">
        
        <div class="products__text-area products__text-area--one">
          <h1>ICE CREAM</h1>
          <div class="products__ellpise-wrapper">
            <img src="Ellipse 5.png" alt="">
            <img src="Ellipse 5.png" alt="">
            <img src="Ellipse 5.png" alt="">
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel ipsum euismod, tincidunt mauris eu, cursus mauris.</p>
          <button class="products__button"></button>
        </div>
      </div>
      
      <div class="products-wrap">
        
        <div class="products__text-area products__text-area--two">
          <h1>ICE COFFEE</h1>
          <div class="products__ellpise-wrapper">
            <img src="Ellipse 5.png" alt="">
            <img src="Ellipse 5.png" alt="">
            <img src="Ellipse 5.png" alt="">
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel ipsum euismod, tincidunt mauris eu, cursus mauris.</p>
          <button class="products__button"></button>
        </div>
      </div>

      <div class="products-wrap">
        
        <div class="products__text-area products__text-area--three">
          <h1>MILKSHAKES</h1>
          <div class="products__ellpise-wrapper">
            <img src="Ellipse 5.png" alt="">
            <img src="Ellipse 5.png" alt="">
            <img src="Ellipse 5.png" alt="">
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel ipsum euismod, tincidunt mauris eu, cursus mauris.</p>
          <button class="products__button"></button>
        </div>
      </div>

    </section>    
</html>