<section class="products">
    <div class="product__container">
      <div class="products__block">
        <p class="products__label">100% natural</p>
        <h2 class="products__main__title">PRODUCTS</h2>
      </div>
        <ul class="products_list list">
          <li class="products__text-area products__text-area--one">
            <h1>ICE CREAM</h1>
            <!-- <div class="products__ellpise-wrapper">
              <img src="C:\Users\oem\Desktop\Ice-cream-projekt-1\src\images\products\ice-coffee_desktop@1x.png" alt="cos">
              <img src="C:\Users\oem\Desktop\Ice-cream-projekt-1\src\images\products\ice-coffee_desktop@1x.png" alt="cos">
              <img src="C:\Users\oem\Desktop\Ice-cream-projekt-1\src\images\products\ice-coffee_desktop@1x.png" alt="cos">
            </div> -->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel ipsum euismod, tincidunt mauris eu, cursus mauris.</p>
            <button class="buttons__products" type="button">
            </button>
          </li>
          <li class="products__text-area products__text-area--one">
            <h1>ICE COFFEE</h1>
            <!-- <div class="products__ellpise-wrapper">
              <img src="C:\Users\oem\Desktop\Ice-cream-projekt-1\src\images\products\ice-coffee_desktop@1x.png" alt="cos">
              <img src="C:\Users\oem\Desktop\Ice-cream-projekt-1\src\images\products\ice-coffee_desktop@1x.png" alt="cos">
              <img src="C:\Users\oem\Desktop\Ice-cream-projekt-1\src\images\products\ice-coffee_desktop@1x.png" alt="cos">
            </div> -->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel ipsum euismod, tincidunt mauris eu, cursus mauris.</p>
            <button class="buttons__products" type="button">
            </button>
          </li>
          <li class="products__text-area products__text-area--one">
            <h1>MILKSHAKES</h1>
            <!-- <div class="products__ellpise-wrapper">
              <img src="C:\Users\oem\Desktop\Ice-cream-projekt-1\src\images\products\ice-coffee_desktop@1x.png" alt="cos">
              <img src="C:\Users\oem\Desktop\Ice-cream-projekt-1\src\images\products\ice-coffee_desktop@1x.png" alt="cos">
              <img src="C:\Users\oem\Desktop\Ice-cream-projekt-1\src\images\products\ice-coffee_desktop@1x.png" alt="cos">
            </div> -->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel ipsum euismod, tincidunt mauris eu, cursus mauris.</p>
            <button class="buttons__products" type="button">
            </button>
          </li>
        </ul>
    </div>
  </section>