<section class="products" id="About-us">
  <div class="container">
    <p class="products__caption">100% natural</p>
    <h1 class="products__title">products</h1>
    <ul class="products__list">
      <li class="products__item--ice">
        <h2 class="products__item--name products__item">ice cream</h2>
        <p class="products__item--text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <a class="products__item--link">
          <img class="products__item--picture" />
        </a>
      </li>
      <li class="products__item--coffee">
        <h2 class="products__item--name products__item">ice coffee</h2>
        <p class="products__item--text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <a class="products__item--link">
          <img class="products__item--picture" />
        </a>
      </li>
      <li class="products__item--milkshakers">
        <h2 class="products__item--name products__item">milkshakes</h2>
        <p class="products__item--text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <a class="products__item--link">
          <img class="products__item--picture"/>
        </a>
      </li>
    </ul>
  </div>
</section>
