@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as m;

.about {
  background-color: $bgcolor-pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 39px;
  background-image: url(/src/images/about/milk-mobile@1x.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 100%;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .about {
      background-image: url(/src/images/about/milk-mobile@2x.png);
    }
  }

  @media (min-width: 768px) and (max-width: 1280px) {
    background-image: none;

    &__box {
      background-image: none;
      display: flex;
    }
  }
  @media (min-width: 1280px) {
    background-image: url(/src/images/about/milk-desktop@1x.png);
    &__box {
      display: flex;
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .about {
        background-image: url(/src/images/about/milk-desktop@2x.png);
      }
    }
  }

  &__img {
    width: 280px;
    height: 280px;
    @media (min-width: 1280px) {
      // src: url(/src/images/about/cow-desktop@1x.png);
      width: 516px;
      height: 516px;
    }
    @media (min-width: 768px) and (max-width: 1280px) {
      // src: url(/src/images/about/cow-tablet@1x.png);
      width: 340px;
      height: 340px;
    }
  }

  &__head {
    font-family: 'Titan One', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    padding: 70px 60px 26px;

    &-motto {
      color: $font-color-label;
      font-size: 18px;
      line-height: calc(21px / 18px);
    }
    &-title {
      color: $font-color-title;
      font-size: 34px;
      line-height: calc(39px / 34px);
      letter-spacing: 0.04em;
    }
  }
  @media (min-width: 768px) and (max-width: 1280px) {
    .about {
      background-image: none;

      &__box {
        background-image: none;
        display: flex;
      }
    }
  }
  @media (min-width: 1280px) {
    .about {
      background-image: url(/src/images/about/milk-desktop@1x.png);
      &__box {
        display: flex;
      }
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .about {
        background-image: url(/src/images/about/milk-desktop@2x.png);
      }
    }
  }

  &__description {
    font-size: 12px;
    line-height: 162%;
    font-weight: 500;
    text-align: left;
    padding: auto 50px auto;
    max-width: 463px;
    &-main {
      padding: 46px;
      color: $font-color-primary;
    }
  }
  &__content {
    &-additional {
      padding: 0px 46px;
      color: $font-color-description;
    }
  }
}
.btn {
  margin-left: 46px;
  margin-top: 17px;
}
