
.contacts{
    display: flex;
    flex-direction: column;
        align-items: center;
        justify-content: center;
    
    background-color:#FFF5F6;
    
    margin: 170px auto 0px;
    
    & h3,
    & p, & a {
        font-size: 12px;
        font-weight: 500;
        

    }
    &__container{
        margin-top: -84px;
        min-width: 320px;
            max-width: 480px;
            padding: 0px 50px;
            width: 100%;
    }
    &__title {
            display: none;
    }
    &__box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding-left: 0px;
        margin: 0px;
        
    }
    &__card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding:43px 20px;
        background-color: #FFFFFF;
        box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
        border-radius: 24px;
        width: 100%;
    }
    &__category{
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color:#FFFFFF;
        border-radius: 4px;
        height: 16px;
        margin-top: 0px;
        margin-bottom: 25px;
        &--cafe{
            background-color: #F0D1A5;
            width: 80px;
        }
        &--foodtruck{
            background-color: #C2E297;
            width: 130px;
        }
    }
    &__place{
        margin-bottom: 25px;
        
    }
    &__city{
        
        display: flex;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 10px;
        color: #000000;
    }
    &__description{
        margin:0px;
        color: #907E82;
        
    }
    &__opened{
        padding: 25px 0px;
        border-top: 1px solid #E1E1E1;
        border-bottom: 1px solid #E1E1E1;
        margin-bottom: 25px;
    }
    
    &__day{
        margin: 0px 0px 5px 0px;
        color: #000000;
    }
    &__time{
        color: #FFA5BA;
        margin-bottom: 10px;
        margin-top: 0px;
    }
    
    &__tel {
        display: flex;
        list-style: none;
        color: #907E82;
        text-decoration: none;
        margin-right: 50px;
    }
    &__mail {
        display: flex;
        list-style: none;
        color: #907E82;
        text-decoration: none;
    }
    &__buttons-box{
        margin-top: 54px;
        display: flex;
            flex-direction: column;
            justify-content: center;
            list-style: none;
            padding:0px 30px;
            margin-bottom: 0px;

    }
    &__button{
        display: flex;
                       align-items: center;
            justify-content: center;
        list-style: none;
        margin-bottom: 10px;
        border-radius: 22px;
        width: 100%;
        height: 44px;
        border: none;
        font-weight: 700;
        text-align: center;
        font-size: 16px;
        
        &--locations{
            background-color: #D41342;
            color:#FFFFFF;
            &:hover, &:focus{
                background-color:#C7133E;
            }
            }
        &--franchise{
            background-color: #FFFFFF;
            color:#D41443;
            margin-bottom: 0px;
            &:hover,
                &:focus {
                    background-color: #ECEBEB;
                }
            }
    }



}
@media (min-width: 768px) {
    .contacts{
        & h3,
            & p,
            & a {
                font-size: 14px;
                
            }
        &__card {
            padding: 50px 31px;
        }
        &__box {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 20px;
            padding-left: 0px;
            margin: 0px;
            flex-wrap: wrap;
            flex-basis: calc((100% - 2 * 20px) / 3);
        }
        &__card {
            width:220px;
        }
        &__container {
            
            width: 768px;
            min-width: none;
            max-width: none;
            padding: 0px 34px;
        }
                &__buttons-box {
                    margin-top: 81px;
                    gap: 14.5px;
                    flex-direction: row;
                    
        
                }

        &__button {
            padding:0px 30px;
            margin-bottom: 0px;
            border-radius: 22px;
            
            
        }
        &__category {
            font-size: 16px;
            
            border-radius: 6px;
            height: 28px;
            
            margin-bottom: 30px;

            &--cafe {
                
                width: 73px;
            }

            &--foodtruck {
                
                width: 138px;
            }
        }
                &__place {
                    margin-bottom: 30px;}

        &__city {

            
            margin-bottom: 14px;
            
        }
        &__opened {
            padding: 30px 0px;
            
            margin-bottom: 30px;
        }
        &__time {
            
            margin-bottom: 16px;
            
        }
        &__tel {
            
            margin-right: 0px;
            margin-bottom: 10px;
        }
               
    }
}