@use "../abstracts/variables" as *;
.contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:$bgcolor-pink  ;
    margin: 170px auto 0px;
    & h3,
    & p, & a {
        outline: none;
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
    }
    &__container{
        margin-top: -84px;
        min-width: 320px;
        max-width: 480px;
        padding: 0px 50px;
        width: 100%;
    }
    &__title {
            display: none;
    }
    &__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding-left: 0px;
        margin: 0px;
        
    }
    &__item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding:43px 20px;
        background-color: $font-color-contacts-category;
        box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
        border-radius: 24px;
        width: 100%;
    }
    &__category{
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color:$font-color-contacts-category;
        border-radius: 4px;
        height: 16px;
        margin-top: 0px;
        margin-bottom: 25px;
        background-color: $bgcolor-contacts-caffe-category;
        width: 80px;
        &--larger{
            background-color: $bgcolor-contacts-food-truck-category;
            width: 130px;
        }
    }
    &__place{
        margin-bottom: 25px;
    }
    &__city{
        display: flex;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 10px;
        color: $font-color-primary;
    }
    &__description{
        margin:0px;
        color: $font-color-description;
    }
    &__opened{
        padding: 25px 0px;
        border-top: 1px solid #E1E1E1;
        border-bottom: 1px solid #E1E1E1;
        margin-bottom: 25px;
    }
    &__day{
        margin: 0px 0px 5px 0px;
        color: $font-color-primary;
    }
    &__time{
        color: $font-color-contacts-time;
        margin-bottom: 10px;
        margin-top: 0px;
    }
    &__tel {
        display: flex;
        list-style: none;
        color: $font-color-description;
        text-decoration: none;
        margin-right: 50px;
        &:hover, &:focus{
            color:$font-color-title;
        }
    }
    &__mail {
        display: flex;
        list-style: none;
        color: $font-color-description;
        text-decoration: none;
        &:hover,
        &:focus {
            color: $font-color-title;
        }
    }
    &__buttons-box{
        margin-top: 54px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;
        padding:0px 30px;
        margin-bottom: 0px;
    }
    &__button{
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        margin-bottom: 10px;
        border-radius: 22px;
        width: 100%;
        height: 44px;
        border: none;
        font-weight: 700;
        text-align: center;
        font-size: 16px;   
        background-color: $font-color-button-red;
        color:$font-color-button-light;
        &:hover, &:focus{
            background-color:$bgcolor-button-red-active;
        }
        &--accent{
            background-color: $bgcolor-button-light;
            color:$font-color-button-red;
            margin-bottom: 0px;
            &:hover,
            &:focus {
                background-color: $bgcolor-button-light-active;
            }
        }
    }
}
@media (min-width: 768px) {
    .contacts{
        & h3,
        & p,
        & a {
            font-size: 14px;
        }
        &__item {
            padding: 50px 31px;
            width: 220px;
        }
        &__list {
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            flex-basis: calc((100% - 2 * 20px) / 3);
        }
        &__container {
            width: 768px;
            min-width: none;
            max-width: none;
            padding: 0px 34px;
        }
        &__buttons-box {
            margin-top: 81px;
            gap: 15px;
            flex-direction: row;
        }
        &__button {
            padding:0px 30px;
            margin-bottom: 0px;
            border-radius: 22px;
        }
        &__category {
            font-size: 16px;
            border-radius: 6px;
            height: 28px;
            margin-bottom: 30px;
            width: 73px;
            &--larger {
                width: 138px;
            }
        }
        &__place {
            margin-bottom: 30px;
        }
        &__city {
            margin-bottom: 14px;
        }
        &__opened {
            padding: 30px 0px;
            margin-bottom: 30px;
        }
        &__time {
            margin-bottom: 16px;
        }
        &__tel {
            margin-right: 0px;
            margin-bottom: 10px;
        }
    }
}
@media (min-width: 1280px) {
    .contacts {
        background-image: url("../images/contacts/dots@1x.png");
        background-repeat: no-repeat;
        & h3,
        & p,
        & a {
            font-size: 16px;
        }
        &__container {
            padding: 0px 115px;
            width: 1280px;
        }
        &__list {
            gap: 30px;
            flex-basis: calc((100% - 2 * 30px) / 3);
        }
        &__item {
            padding: 51px 43px 62px;
            width: 330px;
        }
        &__category {
            margin-bottom: 32px;
        }
        &__place {
            margin-bottom: 32px;
        }
        &__city {
            margin-bottom: 10px;
        }
        &__description {
            margin: 0px;
            color: $font-color-description;
        }
        &__opened {
            padding: 32px 0px;
            margin-bottom: 32px;
        }
        &__day {
            margin: 0px 0px 5px 0px;
            color: $font-color-primary;
        }
        &__time {
            margin-bottom: 15px;
        }
        &__tel {
            margin-bottom: 12px;
        }
        &__buttons-box {
            margin-top: 86px;
        }
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .contacts {
            background-image: url("../images/contacts/dots@2x.png");
        }
    }
    @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
        .contacts {
            background-image: url("../images/contacts/dots@3x.png");
        }
    }
}