.gallery__title {
    display: none;
}

.gallery {
    width: 100%;
    min-height: 122px;
    background-image: url("../images/gallery/home-pic5_320_122.png"),
        linear-gradient(to bottom, #fff5f6 40%, #ffffff 40%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .gallery {
        background-image: url("../images/gallery/home-pic5_640_244.png"),
            linear-gradient(to bottom, #fff5f6 40%, #ffffff 40%);
    }
}
@media (min-device-pixel-ratio: 3), (min-resolution: 268dpi), (min-resolution: 3dppx) {
    .gallery {
        background-image: url("../images/gallery/home-pic5_960_366.png"),
            linear-gradient(to bottom, #fff5f6 40%, #ffffff 40%);
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .gallery {
        min-width: 768px;
        height: 264px;
        background-image: url("../images/gallery/home-pic5_768_264.png"),
            linear-gradient(to bottom, #fff5f6 40%, #ffffff 40%);
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .gallery {
            background-image: url("../images/gallery/home-pic5_1536_528.png"),
                linear-gradient(to bottom, #fff5f6 40%, #ffffff 40%);
        }
    }
    @media (min-device-pixel-ratio: 3), (min-resolution: 268dpi), (min-resolution: 3dppx) {
        .gallery {
            background-image: url("../images/gallery/home-pic5_2304_792.png"),
                linear-gradient(to bottom, #fff5f6 40%, #ffffff 40%);
        }
    }
}

@media (min-width: 1200px) {
    .gallery {
        min-width: 1280px;
        height: 430px;
        background-image: url("../images/gallery/home-pic5_1280_430.png"),
            linear-gradient(to bottom, #fff5f6 40%, #ffffff 40%);
    }

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .gallery {
            background-image: url("../images/gallery/home-pic5_2560_860.png"),
                linear-gradient(to bottom, #fff5f6 40%, #ffffff 40%);
        }
    }
    @media (min-device-pixel-ratio: 3), (min-resolution: 268dpi), (min-resolution: 3dppx) {
        .gallery {
            background-image: url("../images/gallery/home-pic5_3840_1290.png"),
                linear-gradient(to bottom, #fff5f6 40%, #ffffff 40%);
        }
    }
}
