.menu-modal {
  visibility: hidden;
  display: block;
  position: fixed;
  top: 0;
  left: 100%;
  height: 100vw;
  max-width: 250px;
  background-color: #e17992;
  font-family: 'DM Sans';

  transition-property: transform;
  transition-duration: 1000ms;
  transform: translatex(-100%);

  &.is-open {
    visibility: visible;
  }

  &__x-btn-container {
    display: flex;
    flex-direction: row-reverse;
  }

  &__x-btn {
    display: flex;
    color: inherit;
    border: none;
    background: none;
    display: flex;
    margin: 23px 28px;
    padding: 0;
  }

  &__x-icon {
    width: 15.5px;
    height: 15.5px;
  }

  &__buy-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__buy-btn {
    color: $font-color-title;
    background-color: white;
    border: none;
    display: flex;
    border-radius: 60px;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    font-family: 'DM Sans';
    height: 44px;
    padding-left: 48.5px;
    padding-right: 48.5px;
  }

  &__buy-now {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 91px;
    height: 100%;
  }

  &__buy-icon {
    margin-left: 15.5px;
  }

  &__nav {
    margin-top: 19px;
  }

  &__nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__nav-element {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: white;
    border-bottom: 1px solid #e18298;
  }

  &__nav-list:first-child {
    border-top: 1px solid #e18298;
  }

  &__nav-link {
    margin-left: 21px;
    margin-top: 12px;
    margin-bottom: 12px;
    text-decoration: none;
    color: white;
  }

  &__nav-link:hover,
  &__nav-link:focus {
    color: $font-color-title;
  }

  &__nav-element:hover,
  &__nav-element:focus {
    background-image: linear-gradient(to top, #e17992 1%, #f58ea7, #e17992 99%);
  }

  &__nav-element:hover &__nav-link {
    color: $font-color-title;
  }
}

@media screen and (min-width: 768px) {
  .menu-modal {
    max-width: 254px;

    &__x-btn {
      margin: 23px 34px;
    }

    &__buy-btn {
      padding-left: 43.5px;
      padding-right: 43.5px;
    }

    &__buy-now {
      width: 81px;
      height: 100%;
    }

    &__nav-link {
      margin-left: 24px;
    }
  }
}
