/* ----------------- PRIMARY - FOR SMARTPHONE --------------- */

.modal-menu{
    position: absolute;
    margin: 0 auto;

    width: 250px;
    height: 502px;

    border: none;
    border-radius: 4px;

    background-color: var(--third-bg-color);

    &__btn{
        position: absolute;
        top: 23px;
        right: 28px;

        width: 14px;
        height: 14px;

        border: none;

        // &.modal-menu__icon{
        //     width: 14px;
        //     height: 14px;
        // }
    }

    &__list{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: left;

        padding-top: 60px;
    }

    &__item{
        padding-left: 21px;
        padding-top: 13px;
        padding-bottom: 11px;

        border-top: 1px solid #E18298;

        &:last-child{
            border-bottom: 1px solid #E18298;
        }
    }

    &__link{
        text-decoration: none;
        font-family: var(--font-main-family);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.126;
        color: var(--third-text-color);

        &:hover,
        &:focus{
            color: var(--accent-color);
            cursor: pointer;
        }
    }
}


/* *********************************************************** */

// .modal-menu{
//     position: fixed;

//     width: 250px;
//     height: 100%;

//     margin: 0 auto;

//     background-color: var(--third-bg-color);

//     transform: translateY(0);       /* transformation */
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    // &__btn{
    //     position: absolute;
    //     right: 28.26px;
    //     top: 23px;

    //     width: 14px;
    //     height: 14px;

    //     border: 1px solid black;
    //     background-color: var(--third-bg-color);

        // &__icon{
        //     width: 14px;
        //     height: 14px;
        // }
//     }  
// }

// .page-header__button{
//     &.page-header__button--padding{
//         padding: 15px 46.64px;
//         margin-bottom: 19px;
//         margin-top: 60px;
//     }
// }

// .navigation{
//     &.navigation--display{
//         display: flex;
//         flex-direction: column;
//         justify-content: flex-start;
//         align-items: center;
//     }
// }

// .navigation__item{
//     &.navigation__item--padding{
//         padding: 13px 189px 11px 21px;
//         border-top: 1px solid #E18298;

//         &:last-child{
//             border-bottom: 1px solid #E18298;
//         }
        
//     }
// }

// /* --------------------- FOR TABLET -----------------------*/

// @include tablet{
//     .modal-menu{
//         width: 254px;
//         height: 100%;

//         &.page-header__button--padding{
//             padding-left: 43.28px;
//             padding-left: 43.28px;
//         }
//     }
// }