.modal-buy{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 300px;
    height: 502px;

    transform: translate(-50%,-50%);

    background-color: var(--third-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    &__list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;

        padding-top: 60px;
    }

    &__btn-close{
        width: 14px;
        height: 14px;

        background-color: var(--third-bg-color);
        border: none;

        color: var(--third-text-color);
    }

    &__head{
        font-family: var(--font-main-family);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.313;
        color: var(--third-text-color);
    }

    &__btn{
        padding: 15px 37px;

        border: none;
        background-color: var(--third-text-color);
        color: var(--accent-color);

        &:hover,
        &:focus{
            background-color: var(--accent-color);
            color: var(--third-text-color);
            cursor: pointer;
        }
    }
}

