.modal-buy{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 300px;
    height: 502px;

    transform: translate(-50%,-50%);

    background-color: var(--third-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    &__list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;

        padding-top: 60px;
    }

    &__item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        padding-bottom: 40px;

        &:first-child{
            border-bottom: 1px solid var(--third-text-color);
        }
    }

    &__btn-close{
        position: absolute;
        display: flex;
        justify-content: center;
        top: 20px;
        right: 20px;

        width: 14px;
        height: 14px;

        background-color: var(--third-bg-color);
        border: none;

        color: var(--third-text-color);
    }

    &__head{
        font-family: var(--font-main-family);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.313;
        color: var(--third-text-color);
    }

    &__btn{
        padding: 15px 37px;

        font-family: var(--font-main-family);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.313;

        border: none;
        background-color: var(--third-text-color);
        color: var(--accent-color);

        &:hover,
        &:focus{
            background-color: var(--accent-color);
            color: var(--third-text-color);
            cursor: pointer;
        }
    }
}

.modal-buy-form{
    //position: absolute;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    gap: 10px;

    &__name{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.166;
    
        letter-spacing: 0.01em;
    }

    &__field{
        margin: 0 auto;

        padding: 10px 100px 10px 10px;

        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;

        transition-property: border-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        outline: none;
    
            &:hover,
            &:focus{
                border-color: var(--accent-color);
            }
    }

    &__text{
        font-weight: 400;
        font-size: 10px;
        line-height: 1.166;
    
        letter-spacing: 0.01em;
        text-align: center;

        color: var(--third-text-color);

        &--size{
            font-size: 12px;
            display: flex;
            justify-content: center;

        }
    }

    &__list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

