.modal-readmore{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 300px;
    height: 502px;

    padding: 0px 20px;

    transform: translate(-50%,-50%);

    background-color: var(--third-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    &__head{
        display: flex;
        justify-content: center;
        align-items: center;

        padding-top: 60px;

        color: var(--third-text-color);
    }

    &__list{
        display: flex;
        flex-direction: column;

        margin: 0 auto;
        padding: 20px 0px;

        &--display{
            flex-direction: row;
            justify-content: center;
            gap: 5px;
        }
    }

    &__item{
        border-top: 1px solid var(--third-text-color);

        &--border{
            border: none;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }

    &__paragraph{
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 0 auto;
        padding: 20px 0px;

        color: var(--third-text-color);

        &--posiiton{
            justify-content: flex-start;
        }
    }

    &__media{
        display: flex;
        justify-content: center;
    }
}