.about {
  padding: 125px 20px 0 20px;
  background-color: $background-color-darker;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center 75%;
  background-image: url(../images/milk-mobile.png);

  @include tablet {
    & {
      background-image: none;
      padding: 60px 32px;
    }
  }
  @include desktop {
    & {
      background-image: url(../images/milk-desktop.png);
    }
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    & {
      background-image: url(../images/milk-mobile@2x.png);
    }
    @include tablet {
      & {
        background-image: none;
      }
    }
    @include desktop {
      & {
        background-image: url(../images/milk-desktop@2x.png);
      }
    }
  }
  @media (min-device-pixel-ratio: 3), (min-resolution: 268dpi), (min-resolution: 3dppx) {
    & {
      background-image: url(../images/milk-mobile@3x.png);
    }
    @include tablet {
      & {
        background-image: none;
      }
    }
    @include desktop {
      & {
        background-image: url(../images/milk-desktop@3x.png);
      }
    }
  }
  &__subtitle {
    text-align: center;
    font-family: $fontSecondary;
    font-size: 18px;
    line-height: 1.17;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: $paragraph-color;
    margin-bottom: 15px;
    @include tablet {
      margin-bottom: 16px;
    }
  }
  &__title {
    font-family: $fontSecondary;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.62px;
    color: $active-color;
    margin-bottom: 26px;
    @include tablet {
      margin-bottom: 40px;
    }
  }
  &__img {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 46px;
  }
  &__small-block {
    padding: 0 50px;
    @include tablet {
      padding: 0 0 0 32px;
    }
  }
  @include tablet {
    &__big-block {
      display: flex;
      align-items: center;
    }
  }
}

.list {
  font-family: $fontPrimary;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: $text-color-darker;
  @include tablet {
    font-size: 14px;
    margin-bottom: 40px;
  }
  &__item {
    padding-bottom: 20px;
    &--marked {
      color: $text-color-bold;
      @include tablet {
        padding-bottom: 26px;
      }
    }
  }
}

.button {
  font-family: $fontPrimary;
  font-weight: 700;
  line-height: 1.3;
  border-radius: 22px;
  border-color: transparent;
  padding: 15px 36px;
  text-align: center;
  color: $active-color;
  background-color: $text-color-lighter;

  &::first-letter {
    text-transform: capitalize;
  }
  &:focus,
  &:hover {
    cursor: pointer;
    background-color: $button-active;
  }
  &__about {
    margin-bottom: 39px;
  }
  &__icon {
    margin-left: 14px;
    vertical-align: middle;
  }
}
