@use '../utils/global';
@use '../utils/variables';
@use '../utils/mixin';

.contacts-container {
  @extend .container;
  background: linear-gradient(
    variables.$background-color-lighter 0%,
    variables.$background-color-lighter 5.29%,
    variables.$background-color-darker 5.29%,
    variables.$background-color-darker 100%
  );
  padding: 0 50px 113px;
}

.contacts-section-header {
  display: none;
}

.shop-contact__item {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
}

.shop-contact__link {
  color: variables.$text-color-darker;
}

.shop {
  background-color: variables.$background-color-lighter;
  border-radius: 24px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 25px;
  padding: 43px 21px 43px 20px;
}

.shop:not(:last-child) {
  margin-bottom: 20px;
}

.shop:last-child {
  margin-bottom: 54px;
}

%shop-type {
  align-items: center;
  border-radius: 4px;
  display: flex;
  height: 16px;
}

.shop-type--cafe {
  @extend %shop-type;
  background-color: #f0d1a5;
  width: 80px;
}

.shop-type--foodtruck {
  @extend %shop-type;
  background-color: #c2e297;
  width: 130px;
}

.shop-type__name {
  color: variables.$text-color-lighter;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  margin: auto;
  text-transform: uppercase;
}

.city {
  font-size: 12px;
  font-weight: 500;
}

.city__description {
  color: variables.$text-color-darker;
  line-height: 1.5;
}

.city__place {
  color: variables.$text-color-bold;
  line-height: 1.83;
  margin-bottom: 10px;
}

.opening-hours {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.83;
}

.opening-hours:first-child {
  margin-bottom: 10px;
}

.opening-hours-container {
  border-block: 1px solid #e1e1e1;
  padding: 25px 0;
}

.opening-hours__days {
  color: variables.$text-color-bold;
}

.opening-hours__hours {
  color: variables.$paragraph-color;
  text-transform: uppercase;
}

.contacts-buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

%contact-button__button {
  border: none;
  border-radius: 22px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  height: 44px;
  line-height: 1.31;
}

.contact-button__button--main {
  @extend %contact-button__button;
  background-color: variables.$active-color;
  color: variables.$text-color-lighter;
  padding: 0 17.84px 0 17px;
}

.contact-button__button--secondary {
  @extend %contact-button__button;
  background-color: variables.$background-color-lighter;
  color: variables.$active-color;
  padding: 0 31.3px 0 32px;
}

.contact-button__icon--main {
  border: 2px solid variables.$text-color-lighter;
  fill: variables.$text-color-lighter;
  margin-left: 8px;
}

.contact-button__icon--secondary {
  border: 2px solid variables.$active-color;
  margin-left: 13.17px;
}
