@use './utils/variables';

*,
*::after,
*::before {
    margin: 0 auto;
    box-sizing: border-box;
}

.container {
    max-width:320px;
    @media (min-width:768px) {
        max-width: 768px;
    }
    @media (min-width:1200px) {
        max-width: 1200px;
    }
}

.reviews {
    &__wrapper {
        width: 280px;
        height: 208px;
        border: 1px solid #FAFAFA;
        background-color: #FAFAFA;
        background-image: repeating-linear-gradient(
            to bottom,
            #E1E1E1
            );
        @media (min-width:768px) {
            width: 620px;
            height: 164px;
        }
        @media (min-width:1200px) {
            width: 926px;
            height: 138px;
        }
    }
    &__article {
        @media (min-width:768px) {
        }
        @media (min-width:1200px) {
        }
    }
    &__text {
        font-family: var(--main-font-family);
        color: var(--main-text-color);
        font-size: 12px;
        font-weight: 500;
        line-height: 2.55;
        @media (min-width:768px) {
            font-size: 14px;
            line-height: 2.16;
            letter-spacing: 0.04em;
        }
        @media (min-width:1200px) {
            font-size: 16px;
            line-height: 1.86;
        }
    }
    &__name {
        font-family: var(--main-font-family);
        color: var(--main-text-color);;
        font-size:14px;
        line-height: 1.86;
        @media (min-width:768px) {
            font-size: 16px;
        }
        @media (min-widt:1200px) {
            font-size: 20px;
        }
    }
}
