.customers-reviews {
  background-color: $color3;
  display: flex;
  flex-direction: column;
  &__title {
    display: none;
  }
  &__picturelink {
    width: 85px;
    height: 85px;
    margin: 80px auto 29px;

    @include tablet {
      margin: 121px auto 19px;
    }
    @include desktop {
      margin: 123px auto 15px;
    }
  }

  &__container {
    height: auto;
    width: 100%;
    background-color: $color9;
    position: relative;
    max-width: 480px;
    min-width: 280px;

    @include tablet {
      max-width: none;
      height: 164px;
      width: 620px;
    }
    @include desktop {
      height: 138px;
      width: 926px;
    }
  }

  &__container::before {
    content: '';
    position: absolute;
    top: 28px;
    left: 61px;
    width: 54px;
    height: 40px;
    background: url(../images/customer-reviews/quote.png);

    background-size: 54px 40px;
    @include tablet {
      top: 30px;
      left: 40px;
    }
    @include desktop {
      top: 32px;
      left: 50px;
    }
  }

  &__textbox {
    width: 100%;
    height: auto;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 2.55;
    text-align: center;
    position: relative;
    z-index: 2;
    padding: 43px 66px 26px 57px;
    overflow: hidden;

    @include tablet {
      width: 460px;
      height: 83px;
      font-size: 14px;
      line-height: 2.16;
      letter-spacing: 0.04em;
      left: 80px;
      top: 47px;
      padding: 0%;
      overflow: visible;
    }
    @include desktop {
      width: 750px;
      height: 52px;
      font-size: 16px;
      line-height: 1.86;
      letter-spacing: 0.04em;
      left: 87px;
      top: 47px;
      overflow: visible;
    }
  }
  &__gradient {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    min-width: 180px;
    max-width: 340px;
    margin: 71px 50px 20px 50px;
    background: repeating-linear-gradient(rgba(225, 225, 225, 1) 0px 1px, transparent 1px 30px);

    @include tablet {
      width: 524px;
      height: 61px;
      right: 36px;
      top: 29px;
      left: -20px;
      margin: 0%;
      max-width: none;
    }
    @include desktop {
      width: 813px;
      height: 32px;
      left: -28px;
      top: 29px;
      right: -35px;
      margin: 0%;
    }
  }
  &__slider {
    width: 172px;
    height: auto;
    margin: 30px auto 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    @include tablet {
      margin: 24px auto 35px;
    }
    @include desktop {
      margin: 15px auto 35px;
    }
  }

  &__dots {
    height: 4px;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
  }
  &__dot--hiden {
    visibility: hidden;
  }
  &__dot {
    width: 4px;
    height: 4px;
    background-color: #c7133e;
    border-radius: 50%;
    margin: 0px 5px;
  }
  &__name {
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
    margin: 22px auto 0px;
  }
  &__name--under {
    visibility: hidden;
  }
}

.slider {
  display: flex;
  position: relative;
  width: 100%;
  background-color: $color3;
  margin: 0px auto;

  &__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    padding: 0px 20px;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s;
    opacity: 0;
    max-width: 480px;
  }
  &__slide.active {
    opacity: 1;
  }
  &__nav-button {
    position: absolute;
    height: 300px;
    width: 50%;
    opacity: 0.8;
    top: 50px;
    cursor: pointer;
    @include tablet {
      height: 164px;
    }
    @include desktop {
      height: 138px;
    }
  }
  &__nav {
    margin: 609px auto 86px;
    display: flex;
    justify-content: center;
    width: 90px;
    height: 12px;

    @include tablet {
      margin: 491px auto 119px;
    }
    @include desktop {
      margin: 461px auto 132px;
    }
  }
  &__navlink {
    display: flex;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 1px #d9d9d9;
    background-color: #d9d9d9;
    opacity: 0.8;
    margin: 0 9px 0 9px;
    cursor: pointer;
    position: relative;
  }
  &__navlink.active {
    border-radius: 0%;
    background-color: $color3;
    border: none;
  }
  &__icon-house {
    width: 12px;
    height: 12px;
    fill: #d31342;
    position: absolute;
    left: 0px;
    top: 0px;
    visibility: hidden;
  }
}
.active > .slider__icon-house {
  visibility: visible;
}
#nav-button--prev {
  top: 331px;
  left: 0;
  transform: translateY(-50%);
  height: 308px;
  @include tablet {
    height: 164px;
    top: 308px;
  }
  @include desktop {
    height: 138px;
    top: 292px;
  }
}

#nav-button--next {
  top: 331px;
  right: 0;
  transform: translateY(-50%);
  height: 308px;
  @include tablet {
    height: 164px;
    top: 308px;
  }
  @include desktop {
    height: 138px;
    top: 292px;
  }
}
