@use './utils/variables';

.container {
    max-width:480px;
    @media (min-width:768px){
        max-width: 768px;
    }
    @media (min-width:1200px){
        max-width: 1200px;
    }
}

.reviews {
    &__wrapper {
        border: 1px solid #FAFAFA;
        background-color: #FAFAFA;
    }
}