@use './utils/variables';

.container {
    max-width:320px;
    @media (min-width:768px) {
        max-width: 768px;
    }
    @media (min-width:1200px) {
        max-width: 1200px;
    }
}

.reviews {
    &__wrapper {
        width: 280px;
        height: 208px;
        border: 1px solid #FAFAFA;
        background-color: #FAFAFA;
        @media (min-width:768px) {
            width: 620px;
            height: 164px;
        }
        @media (min-width:1200px) {
            width: 926px;
            height: 138px;
        }
    }
}