.gallery {
  background: linear-gradient(#fff5f6 30%, #fff 30%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery__all {
  display: flex;
  width: 320px;
  align-items: center;
  justify-content: space-between;
}
.gallery__image {
  width: 70px;
  height: 70px;
  border-radius: 8px;
  background-image: url(/src/images/gallery/home-pic1.jpg);
  background-size: cover;
  background-position: center;
  &--1-2 {
    width: 44px;
    height: 44px;
    border-radius: 8px;
    background-image: url(/src/images/gallery/home-pic1.jpg);
    background-size: cover;
    background-position: center;
    z-index: 2;
    transition: width 0.5s, height 0.5s, z-index 0.5s;
    &:hover {
      width: 60px;
      height: 60px;
      z-index: 3;
    }
  }
  &--2-2 {
    bottom: 50%;
    left: 46.5px;
    width: 44px;
    height: 44px;
    border-radius: 8px;
    background-image: url(/src/images/gallery/home-pic2.jpg);
    background-size: cover;
    background-position: center;
    z-index: 2;
    transition: width 0.5s, height 0.5s, z-index 0.5s;
    margin-bottom: 2px;
    &:hover {
      width: 60px;
      height: 60px;
      z-index: 3;
    }
  }
  &--3-2 {
    width: 44px;
    height: 44px;
    border-radius: 8px;
    background-image: url(/src/images/gallery/home-pic3.jpg);
    background-size: cover;
    background-position: center;
    transition: width 0.5s, height 0.5s, z-index 0.5s;
    z-index: 2;
    &:hover {
      width: 60px;
      height: 60px;
      z-index: 3;
    }
  }
  &--4-2 {
    width: 90px;
    height: 90px;
    border-radius: 8px;
    background-image: url(/src/images/gallery/home-pic4.jpg);
    background-size: cover;
    background-position: center;
    z-index: 2;
    transition: width 0.5s, height 0.5s, z-index 0.5s;
    margin-bottom: 2px;
    &:hover {
      width: 106px;
      height: 106px;
      z-index: 3;
    }
  }
  &--5-2 {
    width: 44px;
    height: 44px;
    border-radius: 8px;
    background-image: url(/src/images/gallery/home-pic5.jpg);
    background-size: cover;
    background-position: center;
    z-index: 2;
    transition: width 0.5s, height 0.5s, z-index 0.5s;
    &:hover {
      width: 60px;
      height: 60px;
      z-index: 3;
    }
  }
  &--6-2 {
    width: 44px;
    height: 44px;
    border-radius: 8px;
    margin-bottom: 2px;
    background-image: url(/src/images/gallery/home-pic6.jpg);
    background-size: cover;
    background-position: center;
    z-index: 2;
    transition: width 0.5s, height 0.5s, z-index 0.5s;
    &:hover {
      width: 60px;
      height: 60px;
      z-index: 3;
    }
  }
  &--7-2 {
    width: 44px;
    height: 44px;
    border-radius: 8px;
    background-image: url(/src/images/gallery/home-pic7.jpg);
    background-size: cover;
    background-position: center;
    transition: width 0.5s, height 0.5s, z-index 0.5s;
    z-index: 2;
    &:hover {
      width: 60px;
      height: 60px;
      z-index: 3;
    }
  }
  &--8-2 {
    width: 44px;
    height: 44px;
    border-radius: 8px;
    background-image: url(/src/images/gallery/home-pic8.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 2px;
    transition: width 0.5s, height 0.5s, z-index 0.5s;
    z-index: 2;
    &:hover {
      width: 60px;
      height: 60px;
      z-index: 3;
    }
  }
  &--9-2 {
    width: 44px;
    height: 44px;
    border-radius: 8px;
    background-image: url(/src/images/gallery/home-pic9.jpg);
    background-size: cover;
    background-position: center;
    transition: width 0.5s, height 0.5s, z-index 0.5s;
    z-index: 2;
    &:hover {
      width: 60px;
      height: 60px;
      z-index: 3;
    }
  }
  &--10-2 {
    width: 44px;
    height: 44px;
    border-radius: 8px;
    background-image: url(/src/images/gallery/home-pic10.jpg);
    background-size: cover;
    background-position: center;
    transition: width 0.5s, height 0.5s, z-index 0.5s;
    z-index: 2;
    &:hover {
      width: 60px;
      height: 60px;
      z-index: 3;
    }
  }
}
.gallery__column {
  display: flex;
  flex-direction: column;
  &--margin {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .gallery__all {
    width: 768px;
  }
  .gallery__image {
    &--1-2 {
      width: 105px;
      height: 105px;
      border-radius: 20px;
      &:hover {
        width: 130px;
        height: 130px;
      }
    }
    &--2-2 {
      width: 105px;
      height: 105px;
      border-radius: 20px;
      margin-bottom: 6px;
      &:hover {
        width: 130px;
        height: 130px;
      }
    }
    &--3-2 {
      width: 105px;
      height: 105px;
      border-radius: 20px;
      &:hover {
        width: 130px;
        height: 130px;
      }
    }
    &--4-2 {
      width: 215px;
      height: 215px;
      border-radius: 20px;
      margin-bottom: 6px;
      &:hover {
        width: 245px;
        height: 245px;
      }
    }
    &--5-2 {
      width: 105px;
      height: 105px;
      border-radius: 20px;
      &:hover {
        width: 130px;
        height: 130px;
      }
    }
    &--6-2 {
      width: 105px;
      height: 105px;
      border-radius: 20px;
      margin-bottom: 6px;
      &:hover {
        width: 130px;
        height: 130px;
      }
    }
    &--7-2 {
      width: 105px;
      height: 105px;
      border-radius: 20px;
      &:hover {
        width: 130px;
        height: 130px;
      }
    }
    &--8-2 {
      width: 105px;
      height: 105px;
      border-radius: 20px;
      margin-bottom: 6px;
      &:hover {
        width: 130px;
        height: 130px;
      }
    }
    &--9-2 {
      width: 105px;
      height: 105px;
      border-radius: 20px;
      &:hover {
        width: 130px;
        height: 130px;
      }
    }
    &--10-2 {
      width: 105px;
      height: 105px;
      border-radius: 20px;
      &:hover {
        width: 130px;
        height: 130px;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .gallery__all {
    width: 1013px;
    height: 430px;
  }
  .gallery__image {
    &--1-2 {
      width: 138px;
      height: 138px;
      &:hover {
        width: 170px;
        height: 170px;
      }
    }
    &--2-2 {
      width: 138px;
      height: 138px;
      margin-bottom: 8px;
      &:hover {
        width: 170px;
        height: 170px;
      }
    }
    &--3-2 {
      width: 138px;
      height: 138px;
      &:hover {
        width: 170px;
        height: 170px;
      }
    }
    &--4-2 {
      width: 283px;
      height: 283px;
      margin-bottom: 8px;
      &:hover {
        width: 325px;
        height: 325px;
      }
    }
    &--5-2 {
      width: 138px;
      height: 138px;
      &:hover {
        width: 170px;
        height: 170px;
      }
    }
    &--6-2 {
      width: 138px;
      height: 138px;
      margin-bottom: 8px;
      &:hover {
        width: 170px;
        height: 170px;
      }
    }
    &--7-2 {
      width: 138px;
      height: 138px;
      &:hover {
        width: 170px;
        height: 170px;
      }
    }
    &--8-2 {
      width: 138px;
      height: 138px;
      margin-bottom: 8px;
      &:hover {
        width: 170px;
        height: 170px;
      }
    }
    &--9-2 {
      width: 138px;
      height: 138px;
      &:hover {
        width: 170px;
        height: 170px;
      }
    }
    &--10-2 {
      width: 138px;
      height: 138px;
      &:hover {
        width: 170px;
        height: 170px;
      }
    }
  }
}
