.gallery{
    
    width: 320px;
    height: 136px;
    position: relative;
    margin: auto;
    cursor: pointer;
    

    &__image:hover,
    &__image:focus{
        transform: scale(1.5);
        z-index: 1;
        transition-duration: 1000ms;
    }

    @include tablet{
        width: 768px;
        height: 327px;
            }
    @include desktop{
        width: 1013px;
        height: 430px;
        

    }}
    .container-gallery{
        max-width: 768px;
        margin: auto;
        background: linear-gradient(var(--secondary-bg-color)10% , var(--third-text-color)10%);
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background: linear-gradient(var(--secondary-bg-color)10% , var(--third-text-color)10%);
        }
        @include tablet {
            max-width: 1199px;
            background: linear-gradient(var(--secondary-bg-color)60% , var(--third-text-color)60%);
            @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
                background: linear-gradient(var(--secondary-bg-color)60% , var(--third-text-color)60%);
        }

    @include desktop{
        max-width: 1280px;
        background: linear-gradient(var(--secondary-bg-color)10% , var(--third-text-color)10%);
            @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
                background: linear-gradient(var(--secondary-bg-color)10% , var(--third-text-color)10%);

    }

    }}

    .img{
        &-1{
    width:44px;
    height: 44px;
    position: absolute;
    top:46;
    left:0;
    @include tablet{
        width: 105px;
        height: 105px;
        top: 111px;
        left:0%;
            }
    @include desktop{
        width: 138px;
        height: 138px;
        top:143;
        left:0;
        
    }
      }
 
    &-2{
        width: 44px;
        height: 44px;
        position: absolute;
    top:23;
    left:46;
    @include tablet{
        width: 105px;
        height: 105px;
        top:54;
        left:111;
        
            }
    @include desktop{
        width: 138px;
        height: 138px;
        top:88;
        left:146;
    }
      }
    &-3{
        width: 44px;
        height: 44px;
        position: absolute;
    top:67;
    left:46;
    @include tablet{
        width: 105px;
        height: 105px;
        top:164;
        left:111;
            }
            @include desktop{
                width: 138px;
                height: 138px;
                top:233;
                left:146;
    }}
   
    &-4{
        width: 89px;
        height: 90px;
        position: absolute;
    top:0;
    left:92;
    @include tablet{
        width: 214px;
        height: 214px;
       top:0;
       left:216;
            }
    @include desktop{
        width: 283px;
        height: 283px;
        top:0;
        left:292;

        
    }}
    &-5{
        width: 44px;
        height: 44px;
        position: absolute;
    top:92;
    left:92;
    @include tablet{
        width: 105px;
        height: 105px;
        top: 218;
        left: 216;
        
            }
            @include desktop{
                width: 138px;
                height: 138px;
                top:291;
                left:292;

        
    }}
    &-6{
        width: 44px;
        height: 44px;
        position: absolute;
    top:23;
    left:183;
    @include tablet{
        width: 105px;
        height: 105px;
        top:54;
        left:434;
            }
            @include desktop{
                width: 138px;
                height: 138px;
                top: 98;
                left: 583;

    }}
    &-7{
        width: 44px;
        height: 44px;
        position: absolute;
    top:67;
    left:183;
    @include tablet{
        width: 105px;
        height: 105px;
        top:164;
        left:434;
            }
            @include desktop{
                width: 138px;
                height: 138px;
                top: 245;
                left:582;
    }}
    &-8{
        width: 44px;
        height: 44px;
        position: absolute;
    top:15;
    left:229;
    @include tablet{
        width: 105px;
        height: 105px;
        top:40;
        left:545;
            }
            @include desktop{
                width: 138px;
                height: 138px;
                top:66;
                left:729;

            }}
    &-9{
        width: 44px;
        height: 44px;
        position: absolute;
    top:61;
    left:229;
    @include tablet{
        width: 105px;
        height: 105px;
        top:145;
        left:545;
            }
            @include desktop{
                width: 138px;
                height: 138px;
                top:212;
                left:729;
        
    }}

    &-10{
        width: 44px;
        height: 44px;
        position: absolute;
    top:46;
    left:275;
    @include tablet{
        width: 105px;
        height: 105px;
        top: 111;
        left: 660;
        
            }
            @include desktop{
                width: 138px;
                height: 138px;
                top:155;
                left:875;
    }}}
}

   