.gallery {
  text-align: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 86%,
    rgba(255, 245, 246, 1) 86%
  );
  padding-bottom: 60px;
  &__image {
    width: 100%;
    height: auto;
  }
  &__headline {
    display: none;
  }
  &__container {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding: 0;
  }
}
@media screen and (min-width: 480px) {
.gallery {
  &__container {
    max-width: 480px;
  }
}
}
@media screen and (min-width: 768px) {
  .gallery {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 83%,
      rgba(255, 245, 246, 1) 83%
    );
    &__container {
      max-width: 768px;;
    }
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 82%,
      rgba(255, 245, 246, 1) 82%
    );
    padding-bottom: 120px;
    &__container {
      max-width: 1200px;
      padding: 0 64px;
    }
  }
}
