

.products {

  &__wrapper{
    margin: 121px 0 144px;
  }
  
    &__subtitle {
      text-align: center;
      font-family: $fontSecondary;
      font-size: 18px;
      line-height: 1.17;
      text-align: center;
      text-transform: uppercase;
      color: $paragraph-color;
  
      margin-bottom: 15px;
    }
    &__title {
      font-family: $fontSecondary;
      font-size: 34px;
      line-height: 1.15;
      text-align: center;
      text-transform: uppercase;
      color: $active-color;
    }
    &__items{
     
      position: relative;
    }
  &__box{
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translate(-50%, -111%);
  
  
      z-index: 10;
  
      max-width: 100%;
      height: auto;
  
      width: 249px;
      height: 252px;
      }
  }
  
    &__item {
    
      padding: 161px 39px 41px 41px;
      border-radius: 24px;
  
     
  
  
      &--ice-cream{
        background: $background-color-header;
      }
      &--ice-coffee{
        background: #F0D1A5;
      }
      &--milkshakes{
        background: #C2E297;
      }
      &:nth-child(1){
        margin-bottom: 130px;
      }
      &:nth-child(2){
        margin-bottom: 129px;
      }
      &:nth-child(3){
        margin-bottom: 98px;
      }
    }
    &__name {
      font-family: $fontSecondary;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 1.15;
      text-align: center;
      text-transform: uppercase;
      color: $text-color-lighter;
  
      margin-bottom: 30px;
      &::after {
        content: "...";
        display: block;
        margin-top: 8px;
        font-size: 25px;
        letter-spacing: 3px;
      }
    }
    &__description {
      font-family: $fontPrimary;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.52;
      text-align: center;
      color: $text-color-lighter;
  
      margin-bottom: 30px;
    }
    &__btn{
      display: flex;
      &--image{
      background-image: url(../images/product-arrow.jpg);
      height:40px;
      width:40px;
      border-radius: 50%;
      border-style: none;
      margin:0 auto;
    
    }
  }
  &__box--ice-cream{
    &::before {
      background-image: url(../images/product-ice-cream-mobile.png);
      background-size: contain;
      background-repeat: no-repeat;
  }
  }
  &__box--ice-coffee{
    &::before {
      background-image: url(../images/product-coffee-mobile.png);
      background-size: contain;
      background-repeat: no-repeat;
  }
  }
  &__box--milkshakes{
    &::before {
      background-image: url(../images/product-milkshake-mobile.png);
      background-size: contain;
      background-repeat: no-repeat;
  }
  }
  }
  